<core-page-bar [pageTitle]="'FILES_CONTRACT.CONDITIONS.DETAIL_PAGE_TITLE' | translate"></core-page-bar>

<button color="primary" class="cmd-mb-2" mat-raised-button [routerLink]="routeToBack()">
  {{ "COMMON.RETURN" | translate }}
</button>
<section class="responsive-table-container">
  <mat-table [dataSource]="contractConditionsDataSource" class="cmd-mb-2">
    <ng-container matColumnDef="selection">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox color="primary">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef>
        {{ "FILES_CONTRACT.CONDITIONS.CODE" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>
        {{ "FILES_CONTRACT.CONDITIONS.TITLE" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>
        {{ "FILES_CONTRACT.CONDITIONS.DESCRIPTION" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <quill-editor [ngModel]="element.description" theme="bubble" [placeholder]="''" [readOnly]="true" [modules]="{toolbar: false}"></quill-editor>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="order">
      <mat-header-cell *matHeaderCellDef>
        {{ "FILES_CONTRACT.CONDITIONS.ORDER" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.order }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon
          (click)="deleteCondition(element)"
          (touchend)="$event.stopPropagation()"
          svgIcon="europair_trash"
          [matTooltip]="'TOOLTIPS.REMOVE_ADDITIONAL_SERVICE' | translate"
          [matTooltipClass]="'europair-tooltip'"
        ></mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="conditionsColumnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: conditionsColumnsToDisplay"></mat-row>
  </mat-table>
</section>
<section>
  
</section>