@import "~src/variables.scss";

@media #{$large-and-up} {
  .dashboards-wrapper {
    padding-left: 21%;
    padding-right: 3%;
  }
  .dashboards-wrapper.expand {
    padding-left: 8%;
    padding-right: 3%;
  }
}

@media #{$medium-only} {
  .dashboards-wrapper {
    padding-left: 26%;
    padding-right: 3%;
  }
  .dashboards-wrapper.expand {
    padding-left: 8%;
    padding-right: 3%;
  }
}

@media #{$small-and-down} {
  .dashboards-wrapper {
    padding-left: 0%;
    padding-right: 0%;
  }
  .dashboards-wrapper.expand {
    padding-left: 0%;
    padding-right: 0%;
  }
}
