<div class="modal">
  <div class="modal-content">
    <section class="modal-header">
      <h4>{{ title }}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{'FLEET.AIRCRAFTS.CANCEL' | translate}}
      </a>
    </section>
    <section class="aircraft-detail-form cmd-m-2">
      <form [formGroup]="aircraftForm">
        <div class="row">
          <core-select [items]="operators" [itemValue]="selectItemValue" [itemDescription]="selectItemDescription"
            [hasErrors]="hasControlAnyError('operator')" [id]="'id'" [label]="'FLEET.AIRCRAFTS.OPERATOR' | translate"
            [searchable]="true" [placeholder]="'FLEET.AIRCRAFTS.SELECT_OPERATOR_PLACEHOLDER' | translate"
            [formControl]="this.aircraftForm.get('operator')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('operator')">
                <span *ngIf="this.aircraftForm.get('operator').errors.required" class="helper-text"
                  attr.data-error="{{'FLEET.AIRCRAFTS.ERROR.OPERATOR' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-select>
        </div>

        <div class="row">
          <core-basic-input-text [id]="'aircraft-quantity'" [type]="'number'"
            [label]="'FLEET.AIRCRAFTS.QUANTITY' | translate" [hasErrors]="hasControlAnyError('quantity')"
            formControlName="quantity">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('quantity')">
                <span *ngIf="hasControlSpecificError('quantity', 'required')" class="helper-text"
                  attr.data-error="{{'FLEET.AIRCRAFTS.ERROR.QUANTITY' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>

        <div class="row">
          <core-select [items]="aircraftTypes" [itemValue]="selectItemValue" [itemDescription]="selectItemDescription"
            [hasErrors]="hasControlAnyError('aircraftType')" [id]="'id'" [label]="'FLEET.AIRCRAFTS.TYPE' | translate"
            [searchable]="true" [placeholder]="'FLEET.AIRCRAFTS.SELECT_TYPE_PLACEHOLDER' | translate"
            [formControl]="this.aircraftForm.get('aircraftType')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('aircraftType')">
                <span *ngIf="this.aircraftForm.get('aircraftType').errors.required" class="helper-text"
                  attr.data-error="{{'FLEET.AIRCRAFTS.ERROR.TYPE' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-select>
        </div>

        <div class="row">
          <core-basic-input-text [id]="'aircraft-insuranceEndDate'"
            [label]="'FLEET.AIRCRAFTS.INSURANCE_END_DATE' | translate"
            [hasErrors]="hasControlAnyError('insuranceEndDate')" formControlName="insuranceEndDate">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('insuranceEndDate')">
                <span *ngIf="
                    hasControlSpecificError('insuranceEndDate', 'required')
                  " class="helper-text" attr.data-error="{'FLEET.AIRCRAFTS.INSURANCE_END_DATE' | translate{}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>

        <div class="row">
          <core-basic-input-text [id]="'aircraft-productionYear'" [label]="'FLEET.AIRCRAFTS.YEAR_PRODUCTION' | translate"
            [type]="'number'" [hasErrors]="hasControlAnyError('productionYear')" formControlName="productionYear">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('productionYear')">
                <span *ngIf="hasControlSpecificError('productionYear', 'required')" class="helper-text"
                  attr.data-error="{{'FLEET.AIRCRAFTS.ERROR.YEAR_PRODUCTION' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>

        <div class="row">
          <core-basic-input-text [id]="'aircraft-plateNumber'" [label]="'FLEET.AIRCRAFTS.PLATE_NUMBER' | translate"
            [hasErrors]="hasControlAnyError('plateNumber')" formControlName="plateNumber">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('plateNumber')">
                <span *ngIf="hasControlSpecificError('plateNumber', 'required')" class="helper-text"
                  attr.data-error="{{'FLEET.AIRCRAFTS.ERROR.PLATE_NUMBER' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>

        <div class="row">
          <core-checkbox (selectedValueEvent)="onChangeCheck($event)" [id]="'check-button-bar'"
            [label]="'FLEET.AIRCRAFTS.AMBULANCE' | translate" [disabled]="aircraftForm.disabled"
            [value]="aircraftForm.get('ambulance').value" class="check"></core-checkbox>
        </div>

        <div class="row">
          <core-basic-input-text [id]="'aircraft-insideUpgradeDate'"
            [label]="'FLEET.AIRCRAFTS.INSIDE_UPGRADE_DATE' | translate"
            [hasErrors]="hasControlAnyError('insideUpgradeDate')" formControlName="insideUpgradeDate">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('insideUpgradeDate')">
                <span *ngIf="
                    hasControlSpecificError('insideUpgradeDate', 'required')
                  " class="helper-text" attr.data-error="{{'FLEET.AIRCRAFTS.ERROR.INSIDE_UPGRADE_DATE' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>

        <div class="row">
          <core-basic-input-text [id]="'aircraft-outsideUpgradeDate'"
            [label]="'FLEET.AIRCRAFTS.OUTSIDE_UPGRADE_DATE' | translate"
            [hasErrors]="hasControlAnyError('outsideUpgradeDate')" formControlName="outsideUpgradeDate">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('outsideUpgradeDate')">
                <span *ngIf="
                    hasControlSpecificError('outsideUpgradeDate', 'required')
                  " class="helper-text" attr.data-error="{{'FLEET.AIRCRAFTS.ERROR.OUTSIDE_UPGRADE_DATE' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>

        <ul class="collapsible expandable cmd-mb-2" appMatCollapsible>
          <li>
            <div class="collapsible-header">
              <i class="material-icons">keyboard_arrow_down</i>Bases
            </div>
            <div class="collapsible-body">
              <span>
                <section class="aircraft-role-detail-table">
                  <core-table [columnsHeader]="aircraftBaseColumnsHeader" [columnsData]="aircraftBaseColumnsData"
                    [pagination]="aircraftBaseColumnsPagination"></core-table>
                </section>
              </span>
            </div>
          </li>
        </ul>

        <div class="row">
          <core-basic-input-text [id]="'aircraft-daytimeConfiguration'" [type]="'number'"
            [label]="'FLEET.AIRCRAFTS.DAYTIME_CONFIGURATION' | translate"
            [hasErrors]="hasControlAnyError('daytimeConfiguration')" formControlName="daytimeConfiguration">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('daytimeConfiguration')">
                <span *ngIf="
                    hasControlSpecificError('daytimeConfiguration', 'required')
                  " class="helper-text" attr.data-error="{{'FLEET.AIRCRAFTS.ERROR.DAYTIME_CONFIGURATION' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>

        <div class="row">
          <core-basic-input-text [id]="'aircraft-nighttimeConfiguration'" [type]="'number'"
            [label]="'FLEET.AIRCRAFTS.NIGHTTIME_CONFIGURATION' | translate"
            [hasErrors]="hasControlAnyError('nighttimeConfiguration')" formControlName="nighttimeConfiguration">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('nighttimeConfiguration')">
                <span *ngIf="
                    hasControlSpecificError(
                      'nighttimeConfiguration',
                      'required'
                    )
                  " class="helper-text"
                  attr.data-error="{{'FLEET.AIRCRAFTS.ERROR.NIGHTTIME_CONFIGURATION' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
      </form>
    </section>

    <ul class="collapsible expandable cmd-m-2" appMatCollapsible>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">keyboard_arrow_down</i>Observaciones
        </div>
        <div class="collapsible-body">
          <span>
            <section class="user-task-detail-table">
              <core-table [columnsHeader]="aircraftObservationsColumnsHeader"
                [columnsData]="aircraftObservationsColumnsData" [pagination]="aircraftObservationsColumnsPagination">
              </core-table>
            </section>
          </span>
        </div>
      </li>
    </ul>
    <pre>
      {{ aircraftDetail | json }}
    </pre>
  </div>
  <div class="modal-footer">
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" *ngIf="aircraftForm.disabled; else saveBtn">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text" *ngIf="aircraftForm.disabled; else saveBtn">
        {{'FLEET.AIRCRAFTS.CONFIRM' | translate}}
      </span>
    </a>
    <ng-template #saveBtn>
      <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100"
        [ngClass]="{ disabled: !aircraftForm.valid }" (click)="onSaveAircraft()">
        <i class="material-icons">check_circle</i>
        <span class="full-width-btn-text">{{'FLEET.AIRCRAFTS.SAVE' | translate}}</span>
      </a>
    </ng-template>
  </div>
</div>