<core-page-bar [pageTitle]="pageTitle | translate"></core-page-bar>

<button
  color="primary"
  class="cmd-mb-2"
  mat-raised-button
  [routerLink]="getReturnRoute()"
>
  {{ "COMMON.RETURN" | translate }}
</button>
<mat-accordion multi>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="cmd-mb-2">
      <mat-panel-title>
        {{ "COMMON.GENERAL_DATA" | translate | sentenceCase }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <form [formGroup]="rotationForm">
        <div class="row cmd-mb-2">
          <app-input-mask
            [prefix]="'ROUTES.ROUTE_CODE' | translate"
            class="col s12 l12"
            formControlName="label"
          >
          </app-input-mask>
        </div>
        <div class="row">
          <app-input
            [type]="'date'"
            [prefix]="'ROUTES.START_DATE' | translate"
            formControlName="startDate"
            class="col s12 l6"
          >
          </app-input>
          <app-input
            [type]="'date'"
            [prefix]="'ROUTES.END_DATE' | translate"
            formControlName="endDate"
            class="col s12 l6"
          >
          </app-input>
        </div>
      </form>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel
    #flightPanel
    class="cmd-mb-3"
    expanded="true"
    *ngIf="this.paginatorLength > 0"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "ROTATIONS.FLIGHTS" | translate | sentenceCase }}
      </mat-panel-title>
      <mat-panel-description *ngIf="flightPanel.expanded">
        <a mat-button (click)="newFlight($event)">
          {{ "ROTATIONS.NEW_FLIGHT" | translate | sentenceCase }}
          <mat-icon svgIcon="europair_add"></mat-icon>
        </a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="responsive-table-container">
      <mat-table
        [dataSource]="dataSource"
        cdkDropList
        [cdkDropListData]="dataSource"
        (cdkDropListDropped)="dropRowFlight($event)"
      >
        <!-- Selection Column-->
        <ng-container matColumnDef="selection">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(element) : null"
              [checked]="selection.isSelected(element)"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Origin Column-->
        <ng-container matColumnDef="origin">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.ORIGIN_AIRPORT" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.origin.iataCode }}
          </mat-cell>
        </ng-container>
        <!-- Destination Column-->
        <ng-container matColumnDef="destination">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.DESTINATION_AIRPORT" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.destination.iataCode }}
          </mat-cell>
        </ng-container>
        <!-- Departure Date Column-->
        <ng-container matColumnDef="departureTime">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.DEPARTURE_TIME" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.departureTime }}
          </mat-cell>
        </ng-container>
        <!-- Departure Date Column-->
        <ng-container matColumnDef="arrivalTime">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.ARRIVAL_TIME" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.arrivalTime }}
          </mat-cell>
        </ng-container>
        <!-- Seats F Column-->
        <ng-container matColumnDef="seatsF">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.SEATS_F" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.seatsF }}
          </mat-cell>
        </ng-container>
        <!-- Seats C Column-->
        <ng-container matColumnDef="seatsC">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.SEATS_C" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.seatsC }}
          </mat-cell>
        </ng-container>
        <!-- Seats Y Column-->
        <ng-container matColumnDef="seatsY">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.SEATS_Y" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.seatsY }}
          </mat-cell>
        </ng-container>
        <!-- Status Column-->
        <ng-container matColumnDef="actions" stickyEnd>
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon
              (click)="$event.stopPropagation(); deleteFlight(element)"
              svgIcon="europair_trash"
              [matTooltip]="'TOOLTIPS.REMOVE_FLIGHT' | translate"
              [matTooltipClass]="'europair-tooltip'"
            ></mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: columnsToDisplay"
          (click)="onFlightSelected(row)"
          [ngClass]="{ 'selected-row': selection.isSelected(row) }"
          cdkDragLockAxis="y"
          cdkDrag
          [cdkDragData]="row"
        ></mat-row>
      </mat-table>
      <mat-paginator
        [length]="this.paginatorLength"
        [pageSize]="this.paginatorSize"
        [pageSizeOptions]="[10, 20, 50]"
        (page)="onPage($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <div class="row">
      <button
        *ngIf="isFlightDataReorderer"
        type="button"
        color="primary"
        class="cmd-mb-2"
        mat-raised-button
        (click)="reorderFlights()"
      >
        {{ "COMMON.SAVE_ORDER" | translate | titlecase }}
      </button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true" *ngIf="isFlightDataVisible">
    <mat-expansion-panel-header class="cmd-mb-2">
      <mat-panel-title>
        {{ "ROTATIONS.FLIGHT_DATA" | translate | sentenceCase }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="flightForm">
      <div class="row row-no-margin-bottom">
        <core-select
          [label]="'ROTATIONS.ORIGIN_AIRPORT' | translate"
          [id]="'search-origin-airport'"
          [items]="airports$ | async"
          [minTermLength]="1"
          [loading]="airportsLoading"
          class="col s12 l6 cmd-pb-1"
          [typeToSearchText]="'SEARCH_AIRCRAFT.AIRPORT_SEARCH_TEXT' | translate"
          [placeholder]="'SEARCH_AIRCRAFT.SELECT_AIRPORT' | translate"
          [hasErrors]="hasControlAnyError('origin')"
          [typeahead]="airportsInput$"
          [searchable]="true"
          [itemDescription]="'iataCode'"
          [notFoundText]="'COMMON.NOT_FOUND' | translate"
          formControlName="origin"
        >
          <ng-container inputErrors>
            <ng-container *ngIf="hasControlAnyError('origin')">
              <span
                *ngIf="hasControlSpecificError('origin', 'required')"
                class="helper-text"
                [attr.data-error]="
                  'ROTATIONS.ERRORS.ORIGIN_AIRPORT' | translate
                "
              >
              </span>
            </ng-container>
          </ng-container>
        </core-select>
        <core-select
          [label]="'ROTATIONS.DESTINATION_AIRPORT' | translate"
          [id]="'search-destination-airport'"
          [items]="airports$ | async"
          [minTermLength]="1"
          [loading]="airportsLoading"
          class="col s12 l6 cmd-pb-1"
          [typeToSearchText]="'SEARCH_AIRCRAFT.AIRPORT_SEARCH_TEXT' | translate"
          [placeholder]="'SEARCH_AIRCRAFT.SELECT_AIRPORT' | translate"
          [hasErrors]="hasControlAnyError('destination')"
          [typeahead]="airportsInput$"
          [searchable]="true"
          [itemDescription]="'iataCode'"
          [notFoundText]="'COMMON.NOT_FOUND' | translate"
          formControlName="destination"
        >
          <ng-container inputErrors>
            <ng-container *ngIf="hasControlAnyError('destination')">
              <span
                *ngIf="hasControlSpecificError('destination', 'required')"
                class="helper-text"
                [attr.data-error]="
                  'ROTATIONS.ERRORS.DESTINATION_AIRPORT' | translate
                "
              >
              </span>
            </ng-container>
          </ng-container>
        </core-select>
      </div>
      <div class="row row-no-margin-bottom">
        <core-select
          [items]="timeZones$ | async"
          [id]="'type-category'"
          [label]="'AIRPORTS.TIMEZONE' | translate"
          [searchable]="true"
          [placeholder]="'AIRPORTS.SELECT_TIMEZONE' | translate"
          [itemValue]="'name'"
          [itemDescription]="'description'"
          [hasErrors]="hasControlAnyError('timeZone')"
          formControlName="timeZone"
          class="col s12 l6 cmd-pb-1"
        >
          <ng-container inputErrors *ngIf="hasControlAnyError('timeZone')">
            <span
              *ngIf="hasControlSpecificError('timeZone', 'required')"
              class="helper-text"
              [attr.data-error]="'ROTATIONS.ERRORS.TIME_ZONE' | translate"
            >
            </span>
          </ng-container>
        </core-select>
      </div>
      <div class="row row-no-margin-bottom">
        <app-input
          [type]="'date'"
          [prefix]="'ROTATIONS.DEPARTURE_DATE' | translate"
          formControlName="departureDate"
          class="col s12 l6 cmd-pb-1"
        >
          <ng-container inputErrors *ngIf="hasControlAnyError('departureDate')">
            <mat-error
              class="ep-error-msg"
              *ngIf="hasControlSpecificError('departureDate', 'required')"
            >
              {{ "ROTATIONS.ERRORS.DEPARTURE_DATE" | translate }}
            </mat-error>
          </ng-container>
        </app-input>
        <app-input
          [type]="'time'"
          [prefix]="'ROTATIONS.DEPARTURE_TIME' | translate"
          formControlName="departureTime"
          class="col s12 l6 cmd-pb-1"
        >
          <ng-container inputErrors *ngIf="hasControlAnyError('departureTime')">
            <mat-error
              class="ep-error-msg"
              *ngIf="hasControlSpecificError('departureTime', 'required')"
            >
              {{ "ROTATIONS.ERRORS.DEPARTURE_TIME" | translate }}
            </mat-error>
          </ng-container>
        </app-input>
      </div>
      <div class="row row-no-margin-bottom">
        <app-input
          [type]="'date'"
          [prefix]="'ROTATIONS.ARRIVAL_DATE' | translate"
          formControlName="arrivalDate"
          class="col s12 l6 cmd-pb-1"
        >
          <ng-container inputErrors *ngIf="hasControlAnyError('arrivalDate')">
            <mat-error
              class="ep-error-msg"
              *ngIf="hasControlSpecificError('arrivalDate', 'required')"
            >
              {{ "ROTATIONS.ERRORS.ARRIVAL_DATE" | translate }}
            </mat-error>
          </ng-container>
          <ng-container
            inputErrors
            *ngIf="flightForm.errors?.endDateNotBeforeStartDateValidator"
          >
            <mat-error class="ep-error-msg">
              {{ "ROTATIONS.ERRORS.ARRIVAL_BEFORE_DEPARTURE" | translate }}
            </mat-error>
          </ng-container>
        </app-input>
        <app-input
          [type]="'time'"
          [prefix]="'ROTATIONS.ARRIVAL_TIME' | translate"
          formControlName="arrivalTime"
          class="col s12 l6 cmd-pb-1"
        >
          <ng-container inputErrors *ngIf="hasControlAnyError('arrivalTime')">
            <mat-error
              class="ep-error-msg"
              *ngIf="hasControlSpecificError('arrivalTime', 'required')"
            >
              {{ "ROTATIONS.ERRORS.ARRIVAL_TIME" | translate }}
            </mat-error>
          </ng-container>
        </app-input>
      </div>
      <div class="row row-no-margin-bottom">
        <app-input
          [prefix]="'SEARCH_AIRCRAFT.SEAT_F' | translate"
          [hasErrors]="hasControlAnyError('seatsF')"
          formControlName="seatsF"
          [type]="'number'"
          [defaultValue]="'0'"
          class="col s12 l4 cmd-pb-1"
        >
          <ng-container inputErrors>
            <mat-error
              class="ep-error-msg"
              *ngIf="hasControlSpecificError('seatsF', 'min')"
            >
              {{ "ROTATIONS.ERRORS.MIN_VALUE_0" | translate }}
            </mat-error>
          </ng-container>
        </app-input>
        <app-input
          [prefix]="'SEARCH_AIRCRAFT.SEAT_C' | translate"
          [hasErrors]="hasControlAnyError('seatsC')"
          formControlName="seatsC"
          [type]="'number'"
          [defaultValue]="'0'"
          class="col s12 l4 cmd-pb-1"
        >
          <ng-container inputErrors>
            <mat-error
              class="ep-error-msg"
              *ngIf="hasControlSpecificError('seatsC', 'min')"
            >
              {{ "ROTATIONS.ERRORS.MIN_VALUE_0" | translate }}
            </mat-error>
          </ng-container>
        </app-input>
        <app-input
          [prefix]="'SEARCH_AIRCRAFT.SEAT_Y' | translate"
          [hasErrors]="hasControlAnyError('seatsY')"
          formControlName="seatsY"
          [type]="'number'"
          [defaultValue]="'0'"
          class="col s12 l4 cmd-pb-1"
        >
          <ng-container inputErrors>
            <mat-error
              class="ep-error-msg"
              *ngIf="hasControlSpecificError('seatsY', 'min')"
            >
              {{ "ROTATIONS.ERRORS.MIN_VALUE_0" | translate }}
            </mat-error>
          </ng-container>
        </app-input>
      </div>
      <div class="row">
        <app-input
          [prefix]="'SEARCH_AIRCRAFT.BEDS' | translate"
          [hasErrors]="hasControlAnyError('beds')"
          formControlName="beds"
          [type]="'number'"
          [defaultValue]="'0'"
          class="col s12 l4 cmd-pb-1"
        >
          <ng-container inputErrors>
            <mat-error
              class="ep-error-msg"
              *ngIf="hasControlSpecificError('beds', 'min')"
            >
              {{ "ROTATIONS.ERRORS.MIN_VALUE_0" | translate }}
            </mat-error>
          </ng-container>
        </app-input>

        <app-input
          [prefix]="'SEARCH_AIRCRAFT.STRETCHERS' | translate"
          [hasErrors]="hasControlAnyError('stretchers')"
          formControlName="stretchers"
          [type]="'number'"
          [defaultValue]="'0'"
          class="col s12 l4 cmd-pb-1"
        >
          <ng-container inputErrors>
            <mat-error
              class="ep-error-msg"
              *ngIf="hasControlSpecificError('stretchers', 'min')"
            >
              {{ "ROTATIONS.ERRORS.MIN_VALUE_0" | translate }}
            </mat-error>
          </ng-container>
        </app-input>
      </div>
      <div class="row">
        <button
          *ngIf="selection.isEmpty(); else editFlightButton"
          type="submit"
          color="primary"
          class="cmd-mb-2"
          mat-raised-button
          (click)="createFlight()"
        >
          {{ "COMMON.CREATE" | translate | titlecase }}
        </button>
        <ng-template #editFlightButton>
          <button
            type="submit"
            color="primary"
            class="cmd-mb-2"
            mat-raised-button
            (click)="editFlight()"
          >
            {{ "COMMON.SAVE" | translate | titlecase }}
          </button>
        </ng-template>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
