<core-page-bar [pageTitle]="'CONDITIONS.PAGE_TITLE' | translate"></core-page-bar>
<div class="row">
  <button color="primary" [routerLink]="'new'" mat-raised-button class="col s12 l2">
      {{ 'CONDITIONS.NEW' | translate }}
  </button>
</div>
<div class="responsive-table-container">
  <mat-table matSort (matSortChange)="onSort($event)" multiTemplateDataRows [dataSource]="dataSource">
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "CONDITIONS.CODE" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "CONDITIONS.TITLE" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="conditionOrder">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "CONDITIONS.ORDER" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.conditionOrder }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "CONDITIONS.DESCRIPTION" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <quill-editor [ngModel]="element.description" theme="bubble" [placeholder]="''" [readOnly]="true" [modules]="{toolbar: false}"></quill-editor>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon
          (click)="deleteCondition(element)"
          (touchend)="$event.stopPropagation()"
          svgIcon="europair_trash"
          [matTooltip]="'TOOLTIPS.REMOVE_ADDITIONAL_SERVICE' | translate"
          [matTooltipClass]="'europair-tooltip'"
        ></mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnToDisplay"></mat-header-row>
    <mat-row *matRowDef="let element; columns: columnToDisplay" class="element-row"
    (touchend)="goToDetail(element)"
    (dblclick)="goToDetail(element)"></mat-row>
  </mat-table>
</div>
<mat-paginator
  [length]="resultsLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 20, 50]"
  (page)="onPage($event)"
  showFirstLastButtons
></mat-paginator>