@import "variables";
@import "mixins";

.mat-raised-button.mat-primary:not(:disabled) {
  background-color: $europair-color-blue-dark-1;
}

.mat-row {
  &:hover {
    background-color: $europair-color-blue-light-3 !important;
  }
  &:nth-child(odd) {
    background-color: $europair-color-blue-light-2;
  }
}

.mat-header-cell {
  border-bottom: 2px solid $europair-color-blue-light-3;
  line-height: normal;
  box-sizing: border-box;
  font-weight: bold;
}

.mat-header-row,
.mat-row {
  border-bottom-color: $europair-color-blue-light-3;
}

.mat-header-cell,
.mat-cell {
  color: $europair-color-blue-dark-2;
  padding: 1rem;
  box-sizing: border-box;
}

@include mat-table-columns(("code", "name", "alias", "conditionType", "cmsCode", "phoneNumber"));
 