<section class="search-bar-container valign-wrapper">
  <article class="search-input">
    <core-basic-input-text 
     [clearable]="true" 
     [id]="'basic-search-input'" 
     [iconConfig]="iconConfig"
     (searchChanged)="onBasicSearchInputChanged($event)">
    </core-basic-input-text>
  </article>
  <article class="advanced-search-button">
    <a class="btn-flat btn-large" (click)="onClickOpenSortMenu()"><i class="material-icons europair-icon-blue">swap_vert</i></a>
  </article>
  <article class="advanced-search-button">
    <a class="btn-flat btn-large" (click)="onClickOpenAdvancedSearch()"><i class="material-icons europair-icon-blue">settings</i></a>
  </article>
</section>
