@import "~src/variables.scss";

@media #{$large-and-up}{
    .left-sidebar{
        width: 18%;
    }
    .left-sidebar.collapsed{
        width: 5%;
    }
}

@media #{$medium-only}{
    .left-sidebar{
        width: 23%;
    }
    .left-sidebar.collapsed{
        width: 5%;
    }
}

.left-sidebar{
    background-color: $europair-color-blue-dark-3;
        .col.m8.l8{
            padding-right: 0;
        }
        .left-sidebar-main-icon, .left-sidebar-main-logo{
            height: 6rem;
        }
        .dot-block{
            height: 2rem;
            font-weight: bold;
            a{
                color: $europair-color-blue-dark-5;
            }
            a.active-link{
                color: white;
            }
        }
        .text-block{
            /*height: 2rem;*/
            padding: 0;
            span{
                color: white;
            }
            a{
                display: block;
                color: $europair-color-blue-light-4;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .active-link{
                color: white;
                font-style: italic;
                background-image: linear-gradient(to right
                    , $europair-color-blue-dark-3, $europair-color-blue-dark-7);
                border-right: 3px solid $europair-color-blue-light-5;
            }
        }
        .left-sidebar-icons{
            .row{
                margin-bottom:0px;
            }
        }
}