<div class="modal">
  <div class="modal-content">
    <section class="modal-header">
      <h4>{{ title }} {{_userDetail?.username}}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{'USERS.CANCEL' | translate}}
      </a>
    </section>
    <section class="user-detail-form cmd-mr-3 cmd-mb-3 cmd-mt-3">
      <form [formGroup]="userForm">
        <div class="row">
          <core-basic-input-text [id]="'user-username'" [label]="'USERS.USER' | translate" formControlName="username" [hasErrors]="hasControlAnyError('username')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('username')">
                <span *ngIf="hasControlSpecificError('username', 'required')" class="helper-text" 
                  attr.data-error="{{'USERS.ERROR.NAME' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'user-password'" [label]="'USERS.PASSWORD' | translate" [type]="'password'" formControlName="password" [hasErrors]="hasControlAnyError('password')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('password')">
                <span *ngIf="hasControlSpecificError('password', 'required')" class="helper-text" 
                  attr.data-error="{{'USERS.ERROR.PASSWORD' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'user-name'" [label]="'USERS.USERNAME' | translate" formControlName="name" [hasErrors]="hasControlAnyError('name')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('name')">
                <span *ngIf="hasControlSpecificError('name', 'required')" class="helper-text"
                  attr.data-error="{{'USERS.ERROR.USERNAME' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'user-surname'" [label]="'USERS.SURNAME' | translate" formControlName="surname" [hasErrors]="hasControlAnyError('surname')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('surname')">
                <span *ngIf="hasControlSpecificError('surname', 'required')" class="helper-text"
                  attr.data-error="{{'USERS.ERROR.SURNAME' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'user-email'" [label]="'USERS.MAIL' | translate" formControlName="email" [hasErrors]="hasControlAnyError('email')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('email')">
                <span *ngIf="hasControlSpecificError('email', 'required')" class="helper-text"
                attr.data-error="{{'USERS.ERROR.MAIL_REQUIRED' | translate}}">
                </span>
              </ng-container>
              <ng-container *ngIf="hasControlAnyError('email')">
                <span *ngIf="hasControlSpecificError('email', 'email')" class="helper-text"
                attr.data-error="{{'USERS.ERROR.MAIL_FORMAT' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'user-timezone'" [label]="'USERS.TIME_ZONE' | translate" formControlName="timeZone" [hasErrors]="hasControlAnyError('timeZone')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('timeZone')">
                <span *ngIf="hasControlSpecificError('timeZone', 'required')" class="helper-text"
                  attr.data-error="{{'USERS.ERROR.TIME_ZONE' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
      </form>
    </section>
    <ul class="collapsible expandable" appMatCollapsible>
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>{{'USERS.ROLES' | translate}}</div>
        <div class="collapsible-body"><span>
          <section class="user-role-detail-table">
            <core-table
            [columnsHeader]="userRoleColumnsHeader"
            [columnsData]="userRoleColumnsData"
            [pagination]="userRoleColumnsPagination"
            (switchChangesStatus)="userRoleAssignedChanged($event)"
            ></core-table>
          </section>
        </span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>{{'USERS.TASKS' | translate}}</div>
        <div class="collapsible-body"><span>
          <section class="user-task-detail-table">
            <core-table
            [columnsHeader]="userTaskColumnsHeader"
            [columnsData]="userTaskColumnsData"
            [pagination]="userTaskColumnsPagination"
            (switchChangesStatus)="userTaskAssignedChanged($event)"
            ></core-table>
          </section>
        </span></div>
      </li>
    </ul>
    <pre>
      {{userDetail|json}}
    </pre>
  </div>
  <div class="modal-footer">
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" 
      *ngIf="userForm.disabled;else saveBtn">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text" *ngIf="userForm.disabled;else saveBtn">{{'USERS.CONFIRM' | translate}}</span>
    </a>
    <ng-template #saveBtn>
      <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" 
      [ngClass]="{'disabled': !userForm.valid }" (click)="onSaveUser()">
        <i class="material-icons">check_circle</i>
        <span class="full-width-btn-text" >{{'USERS.SAVE' | translate}}</span>
      </a>
    </ng-template>
  </div>
</div>
