<core-page-bar [pageTitle]="'USERS.PAGE_TITLE' | translate"></core-page-bar>
<core-button-bar
  [barButtons]="barButtons"
  [itemsSelectedCount]="usersSelectedCount"
  (executeAction)="onBarButtonClicked($event)">
</core-button-bar>
<section class="users-tables cmd-mt-1">
  <core-table
    [columnsHeader]="userColumnsHeader"
    [columnsData]="userColumnsData"
    [pagination]="userColumnsPagination"
    (selectedItem)="onUserSelected($event)"
    (executeActionEmitter)="onUserAction($event)">
  </core-table>
</section>


<app-user-detail 
  [title]="userDetailTitle"
  [userForm]="userForm"
  [userDetail]="userSelected"
  [roles]="roles"
  [tasks]="tasks"
  [userRoleColumnsHeader]="userRoleColumnsHeader"
  [userRoleColumnsData]="userRoleColumnsData"
  [userRoleColumnsPagination]="userRoleColumnsPagination"
  [userTaskColumnsHeader]="userTaskColumnsHeader"
  [userTaskColumnsData]="userTaskColumnsData"
  [userTaskColumnsPagination]="userTaskColumnsPagination"
  (saveUser)="onSaveUser($event)">
</app-user-detail>

<core-modal> 
  <ng-container content>
    <section class="modal-header">
      <h4>{{'USERS.CONFIRM_DELETE' | translate}}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{'USERS.CANCEL' | translate}}
      </a>
    </section>
    <section class="modal-body">
      <p [innerHTML]="'USERS.MSG_DELETE' | translate: {'username': userSelected?.username}"></p>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDeleteUser()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">{{'USERS.CONFIRM' | translate}}</span>
    </a>
  </ng-container>
</core-modal>