<div class="modal">
  <div class="modal-content">
    <section class="modal-header">
      <h4>{{ title }}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{ 'COMMON.CANCEL' | translate | sentenceCase}}
      </a>
    </section>
    <section class="runway-detail-form cmd-mr-3 cmd-mb-3 cmd-mt-3">
      <form [formGroup]="baseForm">
        <div class="row">
          <app-search-airports [label]="'SEARCH_AIRCRAFT.AIRPORT' | translate" [id]="'search-airport'"
              [items]="airports$ | async" [minTermLength]="1" [loading]="airportsLoading"
              class="col s12 l12 cmd-mb-1"
              [typeToSearchText]="'SEARCH_AIRCRAFT.AIRPORT_SEARCH_TEXT' | translate"
              [placeholder]="'SEARCH_AIRCRAFT.SELECT_AIRPORT' | translate"
              [hasErrors]="hasControlAnyError('airport')" [typeahead]="airportsInput$"
              [notFoundText]="'COMMON.NOT_FOUND' | translate"
              formControlName="airport">
              <ng-container inputErrors>
                  <ng-container *ngIf="hasControlAnyError('airport')">
                      <span *ngIf="hasControlSpecificError('airport', 'required')" class="helper-text"
                          [attr.data-error]="'SEARCH_AIRCRAFT.ERROR.AIRPORT_REQUIRED' | translate">
                      </span>
                  </ng-container>
              </ng-container>
          </app-search-airports>
        </div>
        <div class="row">
          <core-checkbox class="waves-effect check" [id]="'main-base-checkbox'" [label]="'Principal'"
            [disabled]="disabledMainBase()" [id]="'checkbox-main-base'" [value]="getMainBaseValue()" (selectedValueEvent)="onChangeMainBase($event)">
          </core-checkbox>
        </div>
      </form>
    </section>
  </div>

  <div class="modal-footer">
    <a
      class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100"
      [ngClass]="{ disabled: !baseForm.valid }"
      (click)="onSaveBase()"
    >
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">{{ 'COMMON.SAVE' | translate | sentenceCase}}</span>
    </a>
  </div>
</div>
