<ng-container *ngIf="routeData$ | async as routeData">
  <core-page-bar [pageTitle]="routeData?.title"></core-page-bar>
  <core-button-bar
    [barButtons]="barButtons"
    [itemsSelectedCount]="1"
    (executeAction)="onBarButtonClicked($event)">
  </core-button-bar>
  <ul class="collapsible" [appMatCollapsible]="{ state: 'open'}">
    <li>
      <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>{{ 'AIRPORTS.GENERAL_DATA' | translate }}</div>
      <div class="collapsible-body">
        <app-airport-general-data
          [generalDataForm]="generalDataForm"
          (specialConditionsChanged)="onSpecialConditionsChanged($event)">
        </app-airport-general-data>
      </div>
    </li>
  </ul>
  <ng-container *ngIf="routeData?.isAirportDetail">
    <ul class="collapsible" [appMatCollapsible]="{ state: 'closed'}">
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>{{ 'AIRPORTS.RUNWAYS' | translate }}</div>
        <div class="collapsible-body">
          <app-airport-runways></app-airport-runways>
        </div>
      </li>
    </ul>
    <ul class="collapsible" [appMatCollapsible]="{ state: 'closed'}">
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>{{ 'AIRPORTS.TERMINALS' | translate }}</div>
        <div class="collapsible-body">
          <app-airport-terminals></app-airport-terminals>
        </div>
      </li>
    </ul>
    <ul class="collapsible" [appMatCollapsible]="{ state: 'closed'}" *ngIf="hasAirportSpecialConditions">
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>{{ 'AIRPORTS.CERTIFIED_OPERATORS' | translate }}</div>
        <div class="collapsible-body">
          <app-airport-certified-operators></app-airport-certified-operators>
        </div>
      </li>
    </ul>
    <ul class="collapsible" [appMatCollapsible]="{ state: 'closed'}">
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>{{ 'AIRPORTS.REGIONS' | translate }}</div>
        <div class="collapsible-body">
          <app-airport-regions></app-airport-regions>
        </div>
      </li>
    </ul>
    <ul class="collapsible" [appMatCollapsible]="{ state: 'closed'}">
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>{{ 'AIRPORTS.OBSERVATIONS' | translate }}</div>
        <div class="collapsible-body">
          <app-airport-observations></app-airport-observations>
        </div>
      </li>
    </ul>
  </ng-container>
</ng-container>

<core-modal> 
  <ng-container content>
    <section class="modal-header">
      <h4>Confirmar eliminación</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{ 'COMMON.CANCEL' | translate | sentenceCase}}
      </a>
    </section>
    <section class="modal-body">
      <p [innerHTML]="'AIRPORTS.DELETE_AIRPORT_MSG' | translate: {airportName: airportData?.name} "></p>
      <p></p>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDeleteAirport()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">{{ 'COMMON.CONFIRM' | translate | sentenceCase}}ar</span>
    </a>
  </ng-container>
</core-modal>