<section class="terminals-button-bar">
  <core-button-bar 
    [barButtons]="terminalsBarButtons" [itemsSelectedCount]="terminalsSelectedCount"
    (executeAction)="onBarButtonClicked($event)">
  </core-button-bar>
  <core-search-bar 
    [ngClass]="{'hide': !showMobileSearchBar}" class="hide-on-med-and-up"
    [inputSearchId]="'terminals-search-input'"
    (basicSearch)="onMobileBasicSearch($event)"
    (openAdvancedSearch)="onOpenAdvancedSearch()"
    (openSortMenu)="onOpenSortMenu()">
  </core-search-bar>
</section>
<core-table 
  [columnsHeader]="terminalsColumnsHeader" 
  [columnsData]="terminalsColumnsData"
  [pagination]="terminalsPagination"
  (selectedItem)="onTerminalSelected($event)"
  (search)="onFilterTerminals($event)"
  (sortByColumn)="onSortTerminals($event)"> 
</core-table>

<app-airport-terminal-detail
  [terminalForm]="terminalForm"
  [title]="terminalDetailTitle"
  (saveTerminal)="onSaveTerminal($event)">
</app-airport-terminal-detail>

<core-advanced-search>
  <ng-container body>
    <form [formGroup]="terminalAdvancedSearchForm">
      <div class="row">
        <core-basic-input-text [id]="'advanced-search-terminal-code'" [label]="'Código'" [clearable]="true" formControlName="code">
        </core-basic-input-text>
      </div>
      <div class="row">
        <core-basic-input-text [id]="'advanced-search-terminal-name'" [label]="'Nombre'" [clearable]="true" formControlName="name">
        </core-basic-input-text>
      </div>
    </form>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onMobileAdvancedSearch()">
      <i class="material-icons">search</i>
      <span class="full-width-btn-text">Buscar</span>
    </a>
  </ng-container>
</core-advanced-search>

<core-sort-menu>
  <ng-container body>
    <form [formGroup]="terminalSortForm">
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="code,ASC" formControlName="sort" />
          <span>Código A -> Z</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="code,DESC" formControlName="sort" />
          <span>Código Z -> A</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="name,ASC" formControlName="sort" />
          <span>Nombre A -> Z</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="name,DESC" formControlName="sort" />
          <span>Nombre Z -> A</span>
        </label>
      </p>
    </form>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onMobileSort()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">Aceptar</span>
    </a>
  </ng-container>
</core-sort-menu>

<core-modal> 
  <ng-container content>
    <section class="modal-header">
      <h4>Confirmar eliminación</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        Cancelar
      </a>
    </section>
    <section class="modal-body">
      <p>¿Está seguro que desea eliminar la terminal <b>{{terminalSelected?.name}}</b>?</p>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDeleteTerminal()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">Confirmar</span>
    </a>
  </ng-container>
</core-modal>