@import "~src/variables.scss";

.core-basic-select-field.select-field {
  margin: 0;
  padding: 0;
  select {
    border-bottom: 1px solid $europair-color-blue-dark-2;
  }
  select.valid:not(.browser-default),
  select:focus{
    box-shadow: 0 1px 0 0 $europair-color-blue-dark-2;
  }
  select + label {
    color: $europair-color-blue-dark-2;
  }
  .prefix.right {
    right: 0;
  }
}