@import "~src/variables.scss";

.mobile-menu{
    nav{
        background-color: $europair-color-blue-dark-3;
        .user-identity{
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: flex-end;
            .logout-btn {
              top: -8px
            }
        }
    }
}

#mobile-demo {
    padding: 0px 20px;
    .active-link {
       text-decoration: underline;
    }
}