<core-page-bar [pageTitle]="pageTitle"></core-page-bar>
<top-bar [barButtons]="barButtons" [itemsSelectedCount]="selectedItems.length"
  (executeAction)="onBarButtonClicked($event)" 
  (executeChangeCheck)="checkShowDisabled($event)" 
  (executeSearch)="onSearch($event)"></top-bar>
<section class="users-tables cmd-mt-1">
  <core-table
    [columnsHeader]="operatorColumnsHeader"
    [columnsData]="operatorColumnsData"
    [pagination]="operatorPagination"
    (changePage)="onChangePage($event)"
    (search)="onFilterOperators($event)"
    (sortByColumn)="onSortOperators($event)"
    (selectedItems)="onOperatorsSelected($event)"
    (executeActionEmitter)="onOperatorAction($event)"
  >
  </core-table>
</section>

<core-modal #confirmDisableModal>
  <ng-container content>
    <section class="modal-header">
      <h4>{{'OPERATORS.CONFIRM_DISABLE' | translate}}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{'COMMON.CANCEL' | translate}}
      </a>
    </section>
    <section class="modal-body">
      <p [innerHTML]="'OPERATORS.MSG_DISABLE' | translate:translationParams"></p>
    </section>
  </ng-container>
  <ng-container footer>
    <a
      class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100"
      (click)="onConfirmDisableOperator()"
    >
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">
        {{ "COMMON.CONFIRM" | translate }}
      </span>
    </a>
  </ng-container>
</core-modal>

<core-modal #confirmMultipleDisableModal>
  <ng-container content>
    <section class="modal-header">
      <h4>{{'OPERATORS.CONFIRM_DISABLE_MULTIPLE' | translate}}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{'COMMON.CANCEL' | translate}}
      </a>
    </section>
    <section class="modal-body">
      <p>{{ 'OPERATORS.MSG_DISABLE_MULTIPLE' | translate }}</p>
      <ul class="cmd-ml-1">
        <li *ngFor="let index of selectedItems">
          <b>{{ operators[index]?.name }}</b>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDisableMultipleOperators()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">{{'COMMON.CONFIRM' | translate}}</span>
    </a>
  </ng-container>
</core-modal>