<core-page-bar [pageTitle]="'CONTACTS.DETAIL_PAGE_TITLE' | translate"></core-page-bar>

<button color="primary" class="cmd-mb-2" mat-raised-button [routerLink]="routeToBack()">
  {{ "COMMON.RETURN" | translate }}
</button>
<div class="row">
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.CODE' | translate }}</label>
      <span>{{ condition?.code }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.CMS_CODE' | translate }}</label>
      <span>{{ condition?.crmCode }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.CONTACT_TYPE' | translate }}</label>
      <span>{{ condition?.conditionType }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.COMPANY_CODE' | translate }}</label>
      <span>{{ condition?.companyCode }}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.NAME' | translate }}</label>
      <span>{{ condition?.name }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.ALIAS' | translate }}</label>
      <span>{{ condition?.alias }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.ADDRESS' | translate }}</label>
      <span>{{ condition?.address }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.CITY' | translate }}</label>
      <span>{{ condition?.city?.name }}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.POSTAL_CODE' | translate }}</label>
      <span>{{ condition?.postalCode }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.PROVINCE' | translate }}</label>
      <span>{{ condition?.province }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.COUNTRY' | translate }}</label>
      <span>{{ condition?.country?.name }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.COMMON_OPERATION_TYPE' | translate }}</label>
      <span>{{ condition?.commonOperationType }}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.MAIL' | translate }}</label>
      <span>{{ condition?.email }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.PHONE_NUMBER' | translate }}</label>
      <span>{{ condition?.phoneNumber }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.MOBILE_PHONE_NUMBER' | translate }}</label>
      <span>{{ condition?.mobilePhoneNumber }}</span>
    </div>
  </div>
  <div class="col s12 l3 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.FAX' | translate }}</label>
      <span>{{ condition?.faxNumber }}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l12 field-colum">
    <div class="field-container">
      <label>{{'CONTACTS.OBSERVATION' | translate }}</label>
      <ngx-editor ></ngx-editor>
    </div>
  </div>
</div>