<core-page-bar [pageTitle]="'FILES.CONFIRM_OPERATION' | translate"></core-page-bar>

<button color="primary" class="cmd-mb-2" mat-raised-button [routerLink]="getReturnRoute()">
  {{ "COMMON.RETURN" | translate }}
</button>
<div>
  <form [formGroup]="operationForm">
    <div class="row  cmd-mt-1">
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.FLIGHT_REASON' | translate" [hasErrors]="hasControlAnyError('flightReason')"
        formControlName="flightReason" class="col s12 l4">
      </app-input>
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.CONECTIONS' | translate" [hasErrors]="hasControlAnyError('conections')"
        formControlName="conections" class="col s12 l4">
      </app-input>
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.FLIGHT_LIMITATION' | translate" [hasErrors]="hasControlAnyError('flightLimitation')"
        formControlName="flightLimitation" class="col s12 l4">
      </app-input>
    </div>
    <div class="row">
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.FUEL' | translate" [hasErrors]="hasControlAnyError('fuel')"
        formControlName="fuel" class="col s12 l4">
      </app-input>
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.EQUIPMENT' | translate" [hasErrors]="hasControlAnyError('equipment')"
        formControlName="equipment" class="col s12 l4">
      </app-input>
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.SPECIAL_EQUIPMENT' | translate" [hasErrors]="hasControlAnyError('especialEquipment')"
        formControlName="especialEquipment" class="col s12 l4">
      </app-input>
    </div>
    <div class="row">
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.SERVICE_ON_BOARD' | translate" [hasErrors]="hasControlAnyError('serviceOnBoard')"
        formControlName="serviceOnBoard" class="col s12 l4">
      </app-input>
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.SPECIAL_REQUEST' | translate" [hasErrors]="hasControlAnyError('specialRequest')"
        formControlName="specialRequest" class="col s12 l4">
      </app-input>
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.OTHER_CHARGES' | translate" [hasErrors]="hasControlAnyError('otherCharges')"
        formControlName="otherCharges" class="col s12 l4">
      </app-input>
    </div>
    <div class="row">
      <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.OPERATIVE' | translate" [hasErrors]="hasControlAnyError('operative')"
        formControlName="operative" class="col s12 l4">
      </app-input>
    </div>
    <div class="row">
      <mat-form-field class="col s12 l12">
        <mat-label>{{ "FILES.OPERATIONS_OBSERVATIONS.OBSERVATIONS" | translate }}</mat-label>
        <textarea matInput formControlName="observations" [maxlength]="observationMaxLength"></textarea>
      </mat-form-field>
      <button color="primary" class="col s12 l2 offset-l10" (click)="saveObservations()" mat-raised-button>
        {{ "FILES.CONFIRM" | translate }}
      </button>
    </div>
  </form>
</div>