<core-button-bar [barButtons]="barButtons" [itemsSelectedCount]="airportsSelectedCount"
    (executeAction)="onBarButtonClicked($event)">
    <ng-container additionalContent>
        <core-basic-input-text [class]="'waves-effect waves-light search-field'" [icon]="'search'" [label]="'Buscar'"
            (change)="onSearch($event.target.value)"></core-basic-input-text>
        <core-checkbox [id]="'check-button-bar'" [label]="'Ver inactivos'" (selectedValueEvent)="onChangeCheck($event)"
            class="waves-effect check" [value]="checked"></core-checkbox>
    </ng-container>
</core-button-bar>