@import "~src/variables.scss";
.desktop-actions{
  a{
    margin-right: 0.5rem !important;
  }
}
.mobile-actions{
    ul, li, li>a{
        padding: 0 !important;
    }
    ul li>a i{
        margin: 0;
    }
    .dropdown-content li>a, .dropdown-content li>span{
        color: $europair-color-blue-dark-1 !important;
    }
}

    