<core-page-bar [pageTitle]="'SEARCH_AIRCRAFT.PAGE_TITLE' | translate"></core-page-bar>

<mat-accordion class="example-headers-align" togglePosition="before" multi>
    <mat-expansion-panel class="cmd-mb-2" expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ "SEARCH_AIRCRAFT.FILTER" | translate | sentenceCase }}</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <form [formGroup]="searchForm">

                <div class="row">
                    <core-select [label]="'SEARCH_AIRCRAFT.AIRPORT_COUNTRY' | translate" [id]="'search-airport-country'" [items]="countries$ | async"
                        [minTermLength]="1" [loading]="countriesLoading" class="col s12 l4 cmd-mb-1"
                        [typeToSearchText]="'SEARCH_AIRCRAFT.COUNTRY_SEARCH_TEXT' | translate"
                        [placeholder]="'SEARCH_AIRCRAFT.SELECT_COUNTRY' | translate"
                        [hasErrors]="hasControlAnyError('country')" [typeahead]="countriesInput$" [searchable]="true"
                        [notFoundText]="'COMMON.NOT_FOUND' | translate" formControlName="country">
                    </core-select>
                    
                    <core-select [label]="'SEARCH_AIRCRAFT.AIRPORT' | translate" [id]="'search-airport'" [items]="airports$ | async"
                        [minTermLength]="1" [loading]="airportsLoading" class="col s12 l4 cmd-mb-1"
                        [typeToSearchText]="'SEARCH_AIRCRAFT.AIRPORT_SEARCH_TEXT' | translate"
                        [placeholder]="'SEARCH_AIRCRAFT.SELECT_AIRPORT' | translate"
                        [hasErrors]="hasControlAnyError('airport')" [typeahead]="airportsInput$" [searchable]="true"
                        [notFoundText]="'COMMON.NOT_FOUND' | translate" formControlName="airport">
                    </core-select>

                    <core-basic-switch [id]="'nearby-airport'"
                        [firstLabel]="'SEARCH_AIRCRAFT.NEARBY_AIRPORT' | translate" formControlName="nearbyAirport">
                    </core-basic-switch>
                </div>
            </form>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>