@import "variables";

.loading-spinner {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(199, 199, 199, 0.7);
    .spinner {
        margin: calc(50vh - 10px) auto;
    }
}

.search-measure {
    margin-top: 14%;
}

.nearby-container, .switch-scales {
    height: 54px;
}

// COLORS
.mat-expansion-panel {
    background-color: $europair-color-blue-light-3;
    &.mat-expanded {
        background-color: $europair-color-blue-light-2;
    }
    .mat-expansion-panel-header-title {
        color: $europair-color-blue-dark-1;
    }
    .mat-expansion-panel-header-description {
        justify-content: flex-end;
        align-items: center;
        color: $europair-color-blue-dark-1;
        .mat-icon {
            padding-left: 8px;
            fill: none;
            stroke: $europair-color-blue-dark-1;
        }
    }
}

  
// TABLE CONTAINER
.table-container {
    background-color: $europair-color-blue-light-3;
    overflow: auto;
}

  
.mat-header-cell {
    border-bottom: 2px solid $europair-color-blue-light-3;
    line-height: normal;
    box-sizing: border-box;
}
  
.mat-header-cell, .element-row {
    font-weight: bold;
}
  
.detail-row, .mat-header-row {
    border-bottom: 0;
}
  
.mat-header-cell, .mat-cell {
    color: $europair-color-blue-dark-2;
    padding: 12px;
    min-width: 250px;
    max-width: 250px;
    box-sizing: border-box;
    
    &.mat-column-selection {
        min-width: 40px;
        max-width: 40px;
    }

    &.mat-column-dateAOC,
    &.mat-column-insuranceDate,
    &.mat-column-fleetType,
    &.mat-column-quantity,
    &.mat-column-seats,
    &.mat-column-bedsAndStretchers,
    &.mat-column-maximumLoad {
        min-width: 110px;
        max-width: 110px;
    }
}

.mat-header-row, .mat-row {
    width: max-content;
    border-bottom-color: $europair-color-blue-light-3;
}
  
.mat-row {
    &:hover {
        background-color: $europair-color-blue-light-1;
    }
}

.mat-checkbox-background {
    background-color: $europair-color-blue-dark-1;
}