<core-page-bar [pageTitle]="'SEARCH_AIRCRAFT.PAGE_TITLE' | translate"></core-page-bar>

<button color="primary" class="cmd-mb-2" mat-raised-button (click)="goBack()">
    {{ "COMMON.RETURN" | translate }}
</button>
<mat-accordion class="table-expansion-panel" multi>
    <mat-expansion-panel class="cmd-mb-2" [expanded]="filterExpanded">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ "SEARCH_AIRCRAFT.FILTER" | translate | sentenceCase }}</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <form [formGroup]="searchForm">
                <div class="row">
                    <div class="col s12 l9">

                        <core-select [label]="'SEARCH_AIRCRAFT.REGIONS' | translate" [id]="'search-regions'"
                            [items]="regions" class="col s12 l12 cmd-mb-1" [multiple]="true"
                            [typeToSearchText]="'SEARCH_AIRCRAFT.REGIONS_SEARCH_TEXT' | translate"
                            [placeholder]="'SEARCH_AIRCRAFT.SELECT_REGIONS' | translate"
                            [hasErrors]="hasControlAnyError('regions')" [searchable]="true"
                            [notFoundText]="'COMMON.NOT_FOUND' | translate" formControlName="regions">
                        </core-select>

                        <core-select [label]="'SEARCH_AIRCRAFT.AIRPORT' | translate" [id]="'search-airport'"
                            [items]="airports$ | async" [minTermLength]="1" [loading]="airportsLoading"
                            class="col s12 l12 cmd-mb-1" [multiple]="true"
                            [typeToSearchText]="'SEARCH_AIRCRAFT.AIRPORT_SEARCH_TEXT' | translate"
                            [placeholder]="'SEARCH_AIRCRAFT.SELECT_AIRPORT' | translate"
                            [hasErrors]="hasControlAnyError('airports')" [typeahead]="airportsInput$"
                            [searchable]="true" [notFoundText]="'COMMON.NOT_FOUND' | translate"
                            formControlName="airports">
                            <ng-container inputErrors>
                                <ng-container *ngIf="hasControlAnyError('airports')">
                                    <span *ngIf="hasControlSpecificError('airports', 'required')" class="helper-text"
                                        [attr.data-error]="'SEARCH_AIRCRAFT.ERROR.AIRPORT_REQUIRED' | translate">
                                    </span>
                                </ng-container>
                            </ng-container>
                        </core-select>

                        <core-select [label]="'SEARCH_AIRCRAFT.AIRPORT_COUNTRY' | translate"
                            [id]="'search-airport-country'" [items]="countries$ | async" [minTermLength]="1"
                            [loading]="countriesLoading" class="col s12 l12 cmd-mb-1" [multiple]="true"
                            [typeToSearchText]="'SEARCH_AIRCRAFT.COUNTRY_SEARCH_TEXT' | translate"
                            [placeholder]="'SEARCH_AIRCRAFT.SELECT_COUNTRY' | translate"
                            [hasErrors]="hasControlAnyError('countries')" [typeahead]="countriesInput$"
                            [searchable]="true" [notFoundText]="'COMMON.NOT_FOUND' | translate"
                            formControlName="countries">
                        </core-select>

                        <core-select [label]="'SEARCH_AIRCRAFT.AIRPORT_CATEGORY' | translate"
                            [id]="'search-aircraft-category'" [items]="categories" class="col s12 l5 cmd-mb-1"
                            [typeToSearchText]="'SEARCH_AIRCRAFT.CATEGORY_SEARCH_TEXT' | translate"
                            [placeholder]="'SEARCH_AIRCRAFT.SELECT_CATEGORY' | translate" [itemDescription]="'code'"
                            [hasErrors]="hasControlAnyError('category')" [searchable]="true"
                            [notFoundText]="'COMMON.NOT_FOUND' | translate" formControlName="category">
                        </core-select>

                        <core-select [label]="'SEARCH_AIRCRAFT.AIRPORT_SUBCATEGORY' | translate"
                            [id]="'search-aircraft-subcategory'" [items]="subcategories" class="col s12 l4 cmd-mb-1"
                            [isDisabled]="!hasCategorySelected()" [itemDescription]="'code'"
                            [typeToSearchText]="'SEARCH_AIRCRAFT.SUBCATEGORY_SEARCH_TEXT' | translate"
                            [placeholder]="getSubcategoryPlaceholder() | translate"
                            [hasErrors]="hasControlAnyError('subcategory')" [searchable]="true"
                            [notFoundText]="'COMMON.NOT_FOUND' | translate" formControlName="subcategory">
                        </core-select>

                        <core-basic-switch [id]="'search-minimun-subcategory'" class="col s12 l3 cmd-my-1"
                            [firstLabel]="'SEARCH_AIRCRAFT.MINIMUN_SUBCATEGORY' | translate"
                            formControlName="minimunSubcategory">
                        </core-basic-switch>

                        <core-select [label]="'SEARCH_AIRCRAFT.TYPE' | translate" [id]="'search-fleetType'"
                            [items]="fleetTypes$ | async" [minTermLength]="1" [loading]="fleetTypesLoading"
                            class="col s12 l12 cmd-mb-1" [multiple]="true" [searchable]="true"
                            [typeToSearchText]="'SEARCH_AIRCRAFT.TYPE_SEARCH_TEXT' | translate"
                            [itemDescription]="'description'" [placeholder]="'SEARCH_AIRCRAFT.SELECT_TYPE' | translate"
                            [hasErrors]="hasControlAnyError('fleetTypes')" [typeahead]="fleetTypesInput$"
                            [notFoundText]="'COMMON.NOT_FOUND' | translate" formControlName="fleetTypes">
                        </core-select>

                        <core-select [label]="'SEARCH_AIRCRAFT.OPERATORS' | translate"
                            [id]="'search-aircraft-subcategory'" [items]="operators$ | async" [minTermLength]="1"
                            [loading]="operatorsLoading" class="col s12 l12 cmd-mb-1" [multiple]="true"
                            [typeToSearchText]="'SEARCH_AIRCRAFT.OPERATOR_SEARCH_TEXT' | translate"
                            [placeholder]="'SEARCH_AIRCRAFT.SELECT_OPERATOR' | translate"
                            [hasErrors]="hasControlAnyError('operators')" [typeahead]="operatorsInput$"
                            [searchable]="true" [notFoundText]="'COMMON.NOT_FOUND' | translate"
                            formControlName="operators">
                        </core-select>

                        <app-input [prefix]="'SEARCH_AIRCRAFT.SEAT_F' | translate"
                            [hasErrors]="hasControlAnyError('seatF')" formControlName="seatF" [type]="'number'"
                            class="col s12 l4">
                            <ng-container inputErrors>
                                <mat-error *ngIf="hasControlSpecificError('seatF', 'min')">
                                    {{ "SEARCH_AIRCRAFT.ERRORS.MIN_VALUE_0" | translate }}
                                </mat-error>
                            </ng-container>
                        </app-input>
                        <app-input [prefix]="'SEARCH_AIRCRAFT.SEAT_C' | translate"
                            [hasErrors]="hasControlAnyError('seatC')" formControlName="seatC" [type]="'number'"
                            class="col s12 l4">
                            <ng-container inputErrors>
                                <mat-error *ngIf="hasControlSpecificError('seatC', 'min')">
                                    {{ "SEARCH_AIRCRAFT.ERRORS.MIN_VALUE_0" | translate }}
                                </mat-error>
                            </ng-container>
                        </app-input>
                        <app-input [prefix]="'SEARCH_AIRCRAFT.SEAT_Y' | translate"
                            [hasErrors]="hasControlAnyError('seatY')" formControlName="seatY" [type]="'number'"
                            class="col s12 l4">
                            <ng-container inputErrors>
                                <mat-error *ngIf="hasControlSpecificError('seatY', 'min')">
                                    {{ "SEARCH_AIRCRAFT.ERRORS.MIN_VALUE_0" | translate }}
                                </mat-error>
                            </ng-container>
                        </app-input>

                        <!-- <core-basic-input-text [id]="'search-passsenger-y'" class="col s12 l2"
                            [label]="'SEARCH_AIRCRAFT.SEAT_Y' | translate" [type]="'number'"
                            [hasErrors]="hasControlAnyError('seatY')" formControlName="seatY">
                            <ng-container inputErrors>
                                <ng-container *ngIf="hasControlAnyError('seatY')">
                                    <span *ngIf="hasControlSpecificError('seatY', 'min')" class="helper-text"
                                        [attr.data-error]="'SEARCH_AIRCRAFT.ERROR.MIN_VALUE_0' | translate">
                                    </span>
                                </ng-container>
                            </ng-container>
                        </core-basic-input-text> -->


                        <app-input [prefix]="'SEARCH_AIRCRAFT.BEDS' | translate"
                            [hasErrors]="hasControlAnyError('seatY')" formControlName="beds" [type]="'number'"
                            class="col s12 l4">
                            <ng-container inputErrors>
                                <mat-error *ngIf="hasControlSpecificError('beds', 'min')">
                                    {{ "SEARCH_AIRCRAFT.ERRORS.MIN_VALUE_0" | translate }}
                                </mat-error>
                            </ng-container>
                        </app-input>

                        <app-input [prefix]="'SEARCH_AIRCRAFT.STRETCHERS' | translate"
                            [hasErrors]="hasControlAnyError('seatY')" formControlName="stretchers" [type]="'number'"
                            class="col s12 l4">
                            <ng-container inputErrors>
                                <mat-error *ngIf="hasControlSpecificError('stretchers', 'min')">
                                    {{ "SEARCH_AIRCRAFT.ERRORS.MIN_VALUE_0" | translate }}
                                </mat-error>
                            </ng-container>
                        </app-input>

                        <div class="col s12 l12">
                            <core-basic-switch [id]="'search-scale'" class="col s12 l2 cmd-my-2 switch-scales"
                                [firstLabel]="'SEARCH_AIRCRAFT.SCALES' | translate" formControlName="flightScales">
                            </core-basic-switch>

                            <app-input [prefix]="'SEARCH_AIRCRAFT.SCALES_VALUE' | translate"
                                [hasErrors]="hasControlAnyError('flightScalesValue')"
                                formControlName="flightScalesValue" [type]="'number'" class="col s12 l3 cmd-my-2"
                                [hidden]="hiddenFlightScalesValue()">
                                <ng-container inputErrors>
                                    <mat-error *ngIf="hasControlSpecificError('flightScalesValue', 'min')">
                                        {{ "SEARCH_AIRCRAFT.ERRORS.MIN_VALUE_0" | translate }}
                                    </mat-error>
                                </ng-container>
                            </app-input>
                            <!-- <core-basic-input-text [id]="'search-scale-value'" class="col s12 l2 cmd-my-2"
                                [hidden]="hiddenFlightScalesValue()"
                                [label]="'SEARCH_AIRCRAFT.SCALES_VALUE' | translate" [type]="'number'"
                                [hasErrors]="hasControlAnyError('flightScalesValue')"
                                formControlName="flightScalesValue" [min]="0">
                                <ng-container inputErrors>
                                    <ng-container *ngIf="hasControlAnyError('flightScalesValue')">
                                        <span *ngIf="hasControlSpecificError('flightScalesValue', 'min')"
                                            class="helper-text"
                                            [attr.data-error]="'SEARCH_AIRCRAFT.ERROR.MIN_VALUE_0' | translate">
                                        </span>
                                    </ng-container>
                                </ng-container>
                            </core-basic-input-text> -->
                        </div>
                    </div>

                    <div class="col s12 l3">
                        <core-basic-switch [id]="'search-nearby-airport'" class="col s12 l12 cmd-my-2"
                            [firstLabel]="'SEARCH_AIRCRAFT.NEARBY_AIRPORT' | translate" formControlName="nearbyAirport">
                        </core-basic-switch>
                        <div class="col s12 l12" [hidden]="hiddenNearbyAirport()">
                            <app-input [prefix]="'SEARCH_AIRCRAFT.NEARBY_AIRPORT_FROM' | translate"
                                [hasErrors]="hasControlAnyError('nearbyAirportFrom')"
                                formControlName="nearbyAirportFrom" [type]="'number'" class="col s12 l8 cmd-my-2">
                                <ng-container inputErrors>
                                    <mat-error *ngIf="hasControlSpecificError('nearbyAirportFrom', 'required')">
                                        {{ "SEARCH_AIRCRAFT.ERRORS.NEARBY_AIRPORT_REQUIRED" | translate }}
                                    </mat-error>
                                    <mat-error *ngIf="hasControlSpecificError('nearbyAirportFrom', 'maxValue')">
                                        {{ "SEARCH_AIRCRAFT.ERRORS.NEARBY_AIRPORT_MAX" | translate }}
                                    </mat-error>
                                    <mat-error *ngIf="hasControlSpecificError('nearbyAirportFrom', 'min')">
                                        {{ "SEARCH_AIRCRAFT.ERRORS.MIN_VALUE_0" | translate }}
                                    </mat-error>
                                </ng-container>
                            </app-input>
                            <!-- <core-basic-input-text [id]="'search-nearby-airport-from'" class="col s12 l8 cmd-my-2"
                                [label]="'SEARCH_AIRCRAFT.NEARBY_AIRPORT_FROM' | translate" [type]="'number'"
                                [inputClass]="'text-right'" [hasErrors]="hasControlAnyError('nearbyAirportFrom')"
                                formControlName="nearbyAirportFrom" [min]="0">
                                <ng-container inputErrors>
                                    <ng-container *ngIf="hasControlAnyError('nearbyAirportFrom')">
                                        <span *ngIf="hasControlSpecificError('nearbyAirportFrom', 'required')"
                                            class="helper-text"
                                            [attr.data-error]="'SEARCH_AIRCRAFT.ERROR.NEARBY_AIRPORT_REQUIRED' | translate">
                                        </span>
                                        <span *ngIf="hasControlSpecificError('nearbyAirportFrom', 'maxValue')"
                                            class="helper-text"
                                            [attr.data-error]="'SEARCH_AIRCRAFT.ERROR.NEARBY_AIRPORT_MAX' | translate">
                                        </span>
                                        <span *ngIf="hasControlSpecificError('nearbyAirportFrom', 'min')"
                                            class="helper-text"
                                            [attr.data-error]="'SEARCH_AIRCRAFT.ERROR.MIN_VALUE_0' | translate">
                                        </span>
                                    </ng-container>
                                </ng-container>
                            </core-basic-input-text> -->
                            <span class="col s12 l4 search-measure">
                                {{'MEASURES.ABBREVIATION.KILOMETER' | translate}}
                            </span>
                        </div>
                        <div class="col s12 l12" [hidden]="hiddenNearbyAirport()">
                            <app-input [prefix]="'SEARCH_AIRCRAFT.NEARBY_AIRPORT_TO' | translate"
                                [hasErrors]="hasControlAnyError('nearbyAirportTo')" formControlName="nearbyAirportTo"
                                [type]="'number'" class="col s12 l8 cmd-my-2">
                                <ng-container inputErrors>
                                    <mat-error *ngIf="hasControlSpecificError('nearbyAirportTo', 'required')">
                                        {{ "SEARCH_AIRCRAFT.ERRORS.NEARBY_AIRPORT_REQUIRED" | translate }}
                                    </mat-error>
                                    <mat-error *ngIf="hasControlSpecificError('nearbyAirportTo', 'min')">
                                        {{ "SEARCH_AIRCRAFT.ERRORS.MIN_VALUE_0" | translate }}
                                    </mat-error>
                                </ng-container>
                            </app-input>
                            <span class="col s12 l4 search-measure">
                                {{'MEASURES.ABBREVIATION.KILOMETER' | translate}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">                    
                    <button color="primary" type="submit" (click)="filterAircraftTable()" mat-raised-button 
                        class="col s12 l2 offset-l10">
                        {{ 'SEARCH_AIRCRAFT.SEARCH' | translate }}
                    </button>
                </div>
            </form>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel class="table-expansion-panel cmd-my-1" [expanded]="tableExpanded">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ "SEARCH_AIRCRAFT.AIRCRAFT_RESULT" | translate | sentenceCase }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="table-container">
            <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="selection" sticky>
                    <mat-header-cell *matHeaderCellDef mat-header></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox [id]="'aircraft' + element.aircraftId" [color]="'primary'"
                            [checked]="isChecked(element.aircraftId)"
                            (change)="checkAircraft($event.checked, element.aircraftId)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="operator">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.OPERATOR' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.operatorName }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateAOC">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.DATE_AOC' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.operatorAocLastRevisionDate }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="insuranceDate">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.INSURANCE_DATE' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.operatorInsuranceExpirationDate }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="airport">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.AIRPORT' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.mainBaseName}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.CATEGORY' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.aircraftCategoryCode }}
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="subcategory">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.SUBCATEGORY' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.aircraftSubcategoryCode }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fleetType">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.TYPE' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.aircraftTypeDescription }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.QUANTITY' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.quantity }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="seats">
                    <mat-header-cell [innerHTML]="'SEARCH_AIRCRAFT.SEATS' | translate" *matHeaderCellDef mat-header>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ getSeatsFCY(element) }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="bedsAndStretchers">
                    <mat-header-cell [innerHTML]="'SEARCH_AIRCRAFT.BEDS_AND_STRETCHERS' | translate" *matHeaderCellDef
                        mat-header>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ getBedsAndStretchers(element) }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="maximumLoad">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.MAXIMUM_LOAD' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.maxCargo }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="observations">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.OBSERVATIONS' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.observations?.toString() }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="flightTime">
                    <mat-header-cell *matHeaderCellDef mat-header>
                        {{ 'SEARCH_AIRCRAFT.FLIGHT_TIME' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ getTimeOfFlight(element) }}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                <mat-row *matRowDef="let element; columns: columnsToDisplay" class="element-row">
                </mat-row>
            </mat-table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

    </mat-expansion-panel>
</mat-accordion>
<div class="row">
    <button color="primary" type="submit" (click)="quote()" mat-raised-button [disabled]="disabledQuote()" class="col s12 l2 offset-l10">
        {{ 'SEARCH_AIRCRAFT.QUOTE' | translate: {quantity: getQuantityQuote()} }}
    </button>
</div>