<core-page-bar
  [pageTitle]="'FILES.PAGE_TITLE_DETAIL' | translate"
></core-page-bar>
<div class="row">
  <button
    class="browser-default col s12 l2 cmd-mb-2"
    color="primary"
    mat-raised-button
    routerLink="/files/new"
  >
    {{ "FILES.NEW_FILE" | translate }}
  </button>
</div>

<div id="file-filter">
  <h3 class="title"> {{ 'COMMON.SEARCH_FILTERS' | translate }}:</h3>
  <form [formGroup]="fileFilterForm">
    <div class="row">
      <app-input
        [type]="'text'"
        [prefix]="'FILES.CODE' | translate"
        formControlName="filter_code"
        class="col s12 l3">
      </app-input>
      <core-select class="col s12 l3 " [id]="'select-file-status'" [items]="fileStatus$ | async"
        [placeholder]="'FILES.SELECT_STATUS' | translate" [label]="'FILES.STATUS' | translate"
        [itemDescription]="'name'" [itemValue]="'id'" formControlName="filter_statusId">
      </core-select>
      <core-select
          [label]="'FILES.CLIENT' | translate"
          [id]="'search-clients'"
          [items]="clients$ | async"
          [minTermLength]="1"
          [loading]="clientsLoading"
          class="col s12 l3 cmd-pb-1"
          [typeToSearchText]="'FILES.CLIENT_SEARCH_TEXT' | translate"
          [placeholder]="'FILES.SELECT_CLIENT' | translate"
          [typeahead]="clientsInput$"
          [searchable]="true"
          [itemDescription]="'name'"
          [itemValue]="'id'"
          [notFoundText]="'COMMON.NOT_FOUND' | translate"
          formControlName="filter_clientId"
        >
        </core-select>
      <core-select
          [label]="'FILES.SALE_AGENT' | translate"
          [id]="'search-sale-agents'"
          [items]="saleAgents$ | async"
          [minTermLength]="1"
          [loading]="saleAgentsLoading"
          class="col s12 l3 cmd-pb-1"
          [typeToSearchText]="'FILES.SALE_AGENT_SEARCH_TEXT' | translate"
          [placeholder]="'FILES.SELECT_SALE_AGENT' | translate"
          [typeahead]="saleAgentsInput$"
          [searchable]="true"
          [itemDescription]="'username'"
          [itemValue]="'id'"
          [notFoundText]="'COMMON.NOT_FOUND' | translate"
          formControlName="filter_saleAgentId"
        >
        </core-select>
    </div>
  </form>
</div>
<div class="responsive-table-container">
  <mat-table
    matSort
    [dataSource]="dataSource"
    (matSortChange)="onSortFiles($event)"
  >
    <!-- File ID Column -->
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.CODE" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.DESCRIPTION" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
    </ng-container>

    <!-- File Status Column -->
    <ng-container matColumnDef="status-name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.STATUS" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"
      [ngClass]="{'booked-blue': isBookedBlue(element), 'booked-green': isBookedGreen(element)}"> {{ element.status.name }} </mat-cell>
    </ng-container>

    <!-- Client Column -->
    <ng-container matColumnDef="client-name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.CLIENT" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.client.name }} </mat-cell>
    </ng-container>

    <!-- Sale Agent Column -->
    <ng-container matColumnDef="sale-agent">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.SALE_AGENT" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.saleAgent ? element.saleAgent?.username : element.createdBy }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (dblclick)="goToDetail(row)" (touchend)="goToDetail(row)"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [length]="this.paginatorLength"
    [pageSize]="this.paginatorSize"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPage($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
