<core-page-bar
  [pageTitle]="'FILES.PAGE_TITLE_DETAIL' | translate"
></core-page-bar>
<div class="row">
  <button
    class="browser-default col s12 l2 cmd-mb-2"
    color="primary"
    mat-raised-button
    routerLink="/files/new"
  >
    {{ "FILES.NEW_FILE" | translate }}
  </button>
</div>
<div class="table-container">
  <mat-table
    matSort
    [dataSource]="dataSource"
    (matSortChange)="onSortFiles($event)"
  >
    <!-- File ID Column -->
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.CODE" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.DESCRIPTION" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
    </ng-container>

    <!-- File Status Column -->
    <ng-container matColumnDef="status-name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.STATUS" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"
      [ngClass]="{'booked-blue': isBookedBlue(element), 'booked-green': isBookedGreen(element)}"> {{ element.status.name }} </mat-cell>
    </ng-container>

    <!-- Client Column -->
    <ng-container matColumnDef="client-name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.CLIENT" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.client.name }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (dblclick)="goToDetail(row)"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [length]="this.paginatorLength"
    [pageSize]="this.paginatorSize"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPage($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
