<core-page-bar [pageTitle]="pageTitle | translate"></core-page-bar>

<section class="save cmd-mt-1">
  <a
    class="waves-effect waves-light btn europair-icon-blue-1 cmd-mr-1 hide-on-small-only"
    [ngClass]="{ disabled: !operatorForm.valid }"
    (click)="onSaveOperator()"
  >
    <i class="material-icons left">{{ "save" }}</i>
    {{ "common.save" | translate }}
  </a>
  <div class="fixed-action-btn">
    <a
      class="btn-floating waves-effect waves-light europair-icon-blue-1 cmd-mr-1 hide-on-med-and-up"
      [ngClass]="{ disabled: !operatorForm.valid }"
      (click)="onSaveOperator()"
    >
      <i class="material-icons">{{ "save" }}</i>
    </a>
  </div>
</section>

<section class="operator-detail-form cmd-mt-1">
  <form [formGroup]="operatorForm">
    <ul class="collapsible expandable" appMatCollapsible>
      <li class="active">
        <div class="collapsible-header">
          <i class="material-icons">keyboard_arrow_down</i>
          {{ "common.generalData" | translate | sentenceCase }}
        </div>
        <div class="collapsible-body">
          <span>
            <section class="operator-detail">
              <div class="row">
                <core-basic-input-text
                  [id]="'operator-iataCode'"
                  [label]="'common.abbreviations.iataCode' | translate"
                  [maxlength]="3"
                  [hasErrors]="hasControlAnyError('iataCode')"
                  class="col s12 l3 cmd-mb-1"
                  formControlName="iataCode"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('iataCode')">
                      <span
                        *ngIf="hasControlSpecificError('iataCode', 'required')"
                        class="helper-text"
                        attr.data-error="{{
                          'operators.errors.iataCode' | translate
                        }}"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'operator-icaoCode'"
                  [label]="'common.abbreviations.icaoCode' | translate"
                  [maxlength]="4"
                  [hasErrors]="hasControlAnyError('icaoCode')"
                  class="col s12 l3 cmd-mb-1"
                  formControlName="icaoCode"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('icaoCode')">
                      <span
                        *ngIf="hasControlSpecificError('icaoCode', 'required')"
                        class="helper-text"
                        attr.data-error="{{
                          'operators.errors.icaoCode' | translate
                        }}"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'operator-name'"
                  [label]="'common.name' | translate | sentenceCase"
                  [hasErrors]="hasControlAnyError('name')"
                  class="col s12 l6"
                  formControlName="name"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('name')">
                      <span
                        *ngIf="hasControlSpecificError('name', 'required')"
                        class="helper-text"
                        attr.data-error="{{
                          'operators.errors.name' | translate
                        }}"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>
              </div>
              <div class="row">
                <core-basic-input-text
                  [id]="'operator-aocLastRevisionDate'"
                  [type]="'date'"
                  [label]="'operators.aocLastRevisionDate' | translate"
                  [hasErrors]="hasControlAnyError('aocLastRevisionDate')"
                  class="col s12 l3 cmd-mb-1"
                  formControlName="aocLastRevisionDate"
                >
                  <ng-container inputErrors>
                    <ng-container
                      *ngIf="hasControlAnyError('aocLastRevisionDate')"
                    >
                      <span
                        *ngIf="
                          hasControlSpecificError(
                            'aocLastRevisionDate',
                            'required'
                          )
                        "
                        class="helper-text"
                        attr.data-error="{{
                          'operators.errors.aocLastRevisionDate' | translate
                        }}"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'operator-insuranceExpirationDate'"
                  [type]="'date'"
                  [label]="'operators.insuranceExpirationDate' | translate"
                  [hasErrors]="hasControlAnyError('insuranceExpirationDate')"
                  class="col s12 l3 cmd-mb-1"
                  formControlName="insuranceExpirationDate"
                >
                  <ng-container inputErrors>
                    <ng-container
                      *ngIf="hasControlAnyError('insuranceExpirationDate')"
                    >
                      <span
                        *ngIf="
                          hasControlSpecificError(
                            'insuranceExpirationDate',
                            'required'
                          )
                        "
                        class="helper-text"
                        attr.data-error="{{
                          'operators.errors.insuranceExpirationDate' | translate
                        }}"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'operator-aocNumber'"
                  [type]="'number'"
                  [label]="'operators.aocNumber' | translate"
                  [hasErrors]="hasControlAnyError('aocNumber')"
                  class="col s12 l3 cmd-mb-1"
                  formControlName="aocNumber"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('aocNumber')">
                      <span
                        *ngIf="hasControlSpecificError('aocNumber', 'required')"
                        class="helper-text"
                        attr.data-error="{{
                          'operators.errors.aocNumber' | translate
                        }}"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>
              </div>
            </section>
          </span>
        </div>
      </li>
    </ul>

    <ul class="collapsible expandable" appMatCollapsible>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">keyboard_arrow_down</i>
          {{ "common.certifications" | translate | sentenceCase }}
        </div>
        <div class="collapsible-body">
          <span>
            <section class="user-role-detail-table">
              <core-table
                [columnsHeader]="operatorCertificationsColumnsHeader"
                [columnsData]="operatorCertificationsColumnsData"
                [pagination]="operatorCertificationsColumnsPagination"
              ></core-table>
            </section>
          </span>
        </div>
      </li>
    </ul>

    <ul class="collapsible expandable" appMatCollapsible>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">keyboard_arrow_down</i>
          {{ "common.observations" | translate | sentenceCase }}
        </div>
        <div class="collapsible-body">
          <span>
            <section class="user-task-detail-table">
              <core-table
                [columnsHeader]="operatorObservationsColumnsHeader"
                [columnsData]="operatorObservationsColumnsData"
                [pagination]="operatorObservationsColumnsPagination"
              ></core-table>
            </section>
          </span>
        </div>
      </li>
    </ul>
  </form>
</section>
