<div class="core-basic-checkbox">
    <label>
        <input *ngIf="checked" type="checkbox" value="value" 
            class="filled-in basic-checkbox" checked/>
        <input *ngIf="!checked" type="checkbox" value="value"
            class="filled-in basic-checkbox"/>
        <span *ngIf="link && label" (click)="emitSelectedValueEvent()"><a routerLink="{{link}}">{{label}}</a></span>
        <span *ngIf="!link && label" (click)="emitSelectedValueEvent()">{{label}}</span>
        <span *ngIf="!link && !label" (click)="emitSelectedValueEvent()"></span>
    </label>
</div>