<core-page-bar [pageTitle]="'FILES.PAGE_TITLE_DETAIL' | translate"></core-page-bar>

<div class="responsive-table-container">
  <mat-table matSort [dataSource]="dataSource" (matSortChange)="onSortFlights($event)">
    <ng-container matColumnDef="origin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.ORIGIN" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.origin?.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.DESTINATION" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.destination?.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="realDepartureTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.DEPARTURE_DATETIME" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.realDepartureTime | date : 'dd/MM/yyyy HH:mm' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="realArrivalTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.DEPARTURA_DATETIME" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.realArrivalTime | date : 'HH:mm' }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (dblclick)="goToFlight(row)" (touchend)="goToFlight(row)">
    </mat-row>
  </mat-table>
  <mat-paginator [length]="this.paginatorLength" [pageSize]="this.paginatorSize" [pageSizeOptions]="[10, 20, 50]"
    (page)="onPage($event)" showFirstLastButtons>
  </mat-paginator>
</div>