@import "variables";
@import "mixins";

.mat-raised-button.mat-primary:not(:disabled) {
  background-color: $europair-color-blue-dark-1;
}

.mat-row {
  cursor: pointer;
  &:hover {
    background-color: $europair-color-blue-light-3 !important;
  }
  &:nth-child(odd) {
    background-color: $europair-color-blue-light-2;
  }
}

.mat-header-cell {
  border-bottom: 2px solid $europair-color-blue-light-3;
  line-height: normal;
  box-sizing: border-box;
}

.mat-header-cell,
.element-row {
  font-weight: bold;
}

.mat-header-row,
.mat-row {
  border-bottom-color: $europair-color-blue-light-3;
}

.mat-header-cell,
.mat-cell {
  color: $europair-color-blue-dark-2;
  padding: 1rem;
  box-sizing: border-box;

  &.booked-blue {
    background-color: #5de2fc;
    border-color: #3c6696;
    &:hover {
      background-color: #5de2fc !important;
      opacity: 0.8;
    }
  }

  &.booked-green {
    background-color: #c8ffca;
    border-color: #57a359;
    &:hover {
      background-color: #c8ffca !important;
      opacity: 0.5;
    }
  }
}

.title {
  font-weight: bold;
}

@include mat-table-columns(("code", "description", "status-name"));
