<core-page-bar [pageTitle]="'TASKS.PAGE_TITLE' | translate"></core-page-bar>
<core-button-bar [barButtons]="barButtons" [itemsSelectedCount]="selectedItems?.length"
  (executeAction)="onBarButtonClicked($event)">
</core-button-bar>
<core-search-bar [ngClass]="{'hide': !showMobileSearchBar}" class="hide-on-med-and-up"
  (basicSearch)="onMobileBasicSearch($event)" (openAdvancedSearch)="onOpenAdvancedSearch()"
  (openSortMenu)="onOpenSortMenu()">
</core-search-bar>
<section class="tasks-tables-container cmd-mt-1">
  <section class="tasks-table">
    <core-table [columnsHeader]="taskColumnsHeader" [columnsData]="taskColumnsData" [pagination]="taskColumnsPagination"
      (selectedItems)="onTasksSelected($event)" (executeActionEmitter)="onTaskAction($event)"
      (search)="onFilterTasks($event)" (sortByColumn)="onSortTasks($event)">
    </core-table>
  </section>
  <section class="screens-table">
    <core-table [columnsHeader]="screenColumnsHeader" [columnsData]="screenColumnsData"
      [pagination]="screenColumnsPagination">
    </core-table>
  </section>
</section>

<app-task-detail [title]="taskDetailTitle" [screenColumnsHeader]="taskDetailScreenColumnsHeader"
  [screenColumnsData]="taskDetailScreenColumnsData" [screens]="screens" [pagination]="screenColumnsPagination"
  [taskDetail]="taskSelected" (saveTask)="onSaveTask($event)" (screenFilterChanged)="onScreenFilterChanged($event)">
</app-task-detail>

<core-advanced-search>
  <ng-container body>
    <form [formGroup]="taskAdvancedSearchForm">
      <div class="row">
        <core-basic-input-text [id]="'advanced-search-name'" [label]="'TASKS.NAME' | translate" [clearable]="true"
          formControlName="filter_name">
        </core-basic-input-text>
      </div>
    </form>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onMobileAdvancedSearch()">
      <i class="material-icons">search</i>
      <span class="full-width-btn-text">{{'TASKS.SEARCH' | translate}}</span>
    </a>
  </ng-container>
</core-advanced-search>

<core-sort-menu>
  <ng-container body>
    <form [formGroup]="taskSortForm">
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="name,ASC" formControlName="sort" />
          <span>{{'TASKS.SORT_ALPHABETIC_ASC' | translate}}</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="name,DESC" formControlName="sort" />
          <span>{{'TASKS.SORT_ALPHABETIC_DESC' | translate}}</span>
        </label>
      </p>
    </form>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onMobileSort()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">{{'TASKS.ACEPT' | translate}}</span>
    </a>
  </ng-container>
</core-sort-menu>

<core-modal #deleteTask>
  <ng-container content>
    <section class="modal-header">
      <h4>{{'TASKS.CONFIRM_DELETE' | translate}}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{'TASKS.CANCEL' | translate}}
      </a>
    </section>
    <section class="modal-body">
      <p [innerHTML]="'TASKS.MSG_DELETE' | translate:translationParams"></p>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDeleteTask()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">{{'TASKS.CONFIRM' | translate}}</span>
    </a>
  </ng-container>
</core-modal>

<core-modal #deleteMultipleTasks>
  <ng-container content>
    <section class="modal-header">
      <h4>{{'TASKS.CONFIRM_DELETE' | translate}}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{'TASKS.CANCEL' | translate}}
      </a>
    </section>
    <section class="modal-body">
      <p>{{ 'TASKS.MSG_DELETE_MULTIPLE' | translate:translationParams }}</p>
      <ul class="cmd-ml-1">
        <li *ngFor="let index of selectedItems">
          <b>{{ tasks[index]?.name }}</b>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDeleteMultipleTasks()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">{{'TASKS.CONFIRM' | translate}}</span>
    </a>
  </ng-container>
</core-modal>