@import "~src/variables.scss";

.pagination-wrapper{
    .pagination li.active{
        background-color: $europair-color-blue-dark-2;
    }
}

.double-arrow{
    position: relative;
    left: -0.7em;
}