<core-page-bar [pageTitle]="'FILES.PAGE_TITLE_AUDIT' | translate"></core-page-bar>
<div class="button-row">
      <button class="browser-default cmd-mr-2" color="primary" mat-raised-button
        (click)="returnToFileList()">
        {{ "COMMON.RETURN" | translate }}
      </button>
</div>

<!-- Audit table -->
<div id="audit-filter">
  <h3 class="title"> {{ 'COMMON.SEARCH_FILTERS' | translate }}:</h3>
  <form [formGroup]="auditFilterForm">
    <div class="row">
      <core-select
          [label]="'FILES.AUDIT.USER' | translate"
          [id]="'search-users'"
          [items]="users$ | async"
          [minTermLength]="1"
          [loading]="usersLoading"
          class="col s12 l3 cmd-pb-1"
          [typeToSearchText]="'FILES.AUDIT.USER_SEARCH_TEXT' | translate"
          [placeholder]="'FILES.AUDIT.SELECT_USER' | translate"
          [typeahead]="usersInput$"
          [searchable]="true"
          [itemDescription]="'username'"
          [itemValue]="'username'"
          [notFoundText]="'COMMON.NOT_FOUND' | translate"
          formControlName="filter_user"
        ></core-select>
      <core-select class="col s12 l3 " [id]="'select-rev-type'" [items]="revTypeSelect"
        [placeholder]="'FILES.AUDIT.REVTYPE' | translate" [label]="'FILES.AUDIT.REVTYPE' | translate"
        formControlName="filter_revType">
      </core-select>
    </div>
        <div class="row">
          <app-input
            [type]="'datetime-local'"
            [prefix]="'FILES.AUDIT.START_DATE' | translate"
            formControlName="filter_startDate"
            class="col s12 l4"
          ></app-input>
          <app-input
            [type]="'datetime-local'"
            [prefix]="'FILES.AUDIT.END_DATE' | translate"
            formControlName="filter_endDate"
            class="col s12 l4"
          ></app-input>
        </div>
  </form>
</div>
<div class="responsive-table-container">
  <mat-table
    matSort
    [dataSource]="dataSource"
    (matSortChange)="onSort($event)"
  >
    <!-- User Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.AUDIT.USER" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.user }} </mat-cell>
    </ng-container>

    <!-- RevType Column -->
    <ng-container matColumnDef="rev-type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.AUDIT.REVTYPE" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ ('FILES.AUDIT.' + element.revType) | translate }} </mat-cell>
    </ng-container>

    <!-- Datetime Column -->
    <ng-container matColumnDef="datetime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.AUDIT.DATETIME" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.datetime | date: 'dd-MM-yyyy hh:mm:ss' }} </mat-cell>
    </ng-container>

    <!-- Changes Column -->
    <ng-container matColumnDef="changes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "FILES.AUDIT.CHANGES" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngFor="let change of element.changes; let i = index">
          {{
            (i > 0 ? ',  ' : '') +
            (change.propertyName | translate) + ': ' +
             (change.oldValue ? change.oldValue : '') + ' -> ' + (change.newValue ? change.newValue : '')
           }}
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="this.paginatorLength"
    [pageSize]="this.paginatorSize"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPage($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
