<core-page-bar [pageTitle]="'SERVICES.PAGE_TITLE' | translate"></core-page-bar>
<section class="save cmd-mt-1">
  <a class="waves-effect waves-light btn europair-icon-blue-1 cmd-mr-1 hide-on-small-only"
    (click)="createService()">
    <i class="material-icons left">add</i>
    {{ "COMMON.CREATE" | translate }}
  </a>
  <div class="fixed-action-btn">
    <a class="btn-floating waves-effect waves-light europair-icon-blue-1 cmd-mr-1 hide-on-med-and-up"
      (click)="createService()">
      <i class="material-icons">add</i>
    </a>
  </div>
</section>
<div class="table-container additional-services-table">
  <mat-table matSort multiTemplateDataRows [dataSource]="dataSource" (matSortChange)="onSortServices($event)">
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "SERVICES.CODE" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "SERVICES.NAME" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "SERVICES.SERVICE_TYPE" | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ 'SERVICES.TYPES.' + element.type | translate }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon
          (click)="deleteService(element)"
          svgIcon="europair_trash"
          [matTooltip]="'TOOLTIPS.REMOVE_ADDITIONAL_SERVICE' | translate"
          [matTooltipClass]="'europair-tooltip'"
        ></mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnToDisplay"></mat-header-row>
    <mat-row *matRowDef="let element; columns: columnToDisplay" class="element-row"
    (dblclick)="goToDetail(element)"></mat-row>
  </mat-table>
</div>
<mat-paginator
  [length]="resultsLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 20, 50]"
  (page)="onPage($event)"
></mat-paginator>