<core-page-bar [pageTitle]="pageTitle | translate"></core-page-bar>

<button
  color="primary"
  class="cmd-mb-2"
  mat-raised-button
  [routerLink]="getReturnRoute()"
>
  {{ "COMMON.RETURN" | translate }}
</button>

<mat-accordion multi>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="cmd-mb-2">
      <mat-panel-title>
        {{ "COMMON.GENERAL_DATA" | translate | sentenceCase }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <form [formGroup]="routeForm" (ngSubmit)="generateFlights()">
        <div class="row cmd-mb-2">
          <app-input-mask
            [prefix]="'ROUTES.ROUTE_CODE' | translate"
            class="col s12 l8"
            [cssClasses]="'text-uppercase'"
            [mask]="routeMask"
            [maskPatterns]="routePattern"
            formControlName="label"
          >
            <ng-container inputErrors *ngIf="hasControlAnyError('label')">
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('label', 'required')"
              >
                {{ "ROUTES.ERRORS.ROUTE_CODE" | translate }}
              </mat-error>
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('label', 'minlength')"
              >
                {{ "ROUTES.ERRORS.ROUTE_CODE_MIN_LEN" | translate }}
              </mat-error>
              <mat-error
                class="ep-error-msg"
                *ngIf="
                  !hasControlSpecificError('label', 'minlength') &&
                  hasControlSpecificError('label', 'labelFormatNotValid')
                "
              >
                {{ "ROUTES.ERRORS.ROUTE_CODE_FORMAT" | translate }}
              </mat-error>
            </ng-container>
          </app-input-mask>
          <core-select
            class="col s12 l4"
            [items]="frequencyList"
            [placeholder]="'ROUTES.FREQUENCY' | translate"
            [searchable]="true"
            [itemDescription]="'label'"
            [itemValue]="'value'"
            formControlName="frequency"
          >
          </core-select>
        </div>
        <div class="row">
          <core-select
            [label]="'ROUTES.AIRPORT_SEARCHER' | translate"
            [id]="'search-airport'"
            [items]="airports$ | async"
            [minTermLength]="1"
            [loading]="airportsLoading"
            [clearable]="false"
            class="col s12 l8 cmd-mb-1"
            [typeToSearchText]="
              'SEARCH_AIRCRAFT.AIRPORT_SEARCH_TEXT' | translate
            "
            [placeholder]="'ROUTES.SELECT_AIRPORT' | translate"
            [typeahead]="airportsInput$"
            [searchable]="true"
            [notFoundText]="'COMMON.NOT_FOUND' | translate"
            [formControl]="airportsControl"
          >
          </core-select>
        </div>
        <div class="row">
          <app-input
            [type]="'date'"
            [prefix]="'ROUTES.START_DATE' | translate"
            [hasErrors]="hasControlAnyError('startDate')"
            formControlName="startDate"
            class="col s12 l4"
          >
            <ng-container inputErrors *ngIf="hasControlAnyError('startDate')">
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('startDate', 'required')"
              >
                {{ "ROUTES.ERRORS.START_DATE" | translate }}
              </mat-error>
            </ng-container>
          </app-input>

          <app-input
            [type]="'date'"
            [prefix]="'ROUTES.END_DATE' | translate"
            [hasErrors]="hasControlAnyError('endDate')"
            formControlName="endDate"
            class="col s12 l4"
          >
            <ng-container inputErrors *ngIf="hasControlAnyError('endDate')">
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('endDate', 'required')"
              >
                {{ "ROUTES.ERRORS.END_DATE" | translate }}
              </mat-error>
            </ng-container>
          </app-input>
        </div>
        <div class="row">
          <core-select
            class="col s12 l4"
            [items]="weekDaysList"
            [placeholder]="'ROUTES.WEEKDAYS' | translate"
            [isDisabled]="isControlDisabled('weekdays')"
            [hasErrors]="hasControlAnyError('weekdays')"
            [searchable]="true"
            [multiple]="true"
            [dropdownPosition]="'top'"
            [itemDescription]="'label'"
            [itemValue]="'value'"
            formControlName="weekdays"
          >
            <ng-container inputErrors *ngIf="hasControlAnyError('weekdays')">
              <span
                *ngIf="hasControlSpecificError('weekdays', 'required')"
                class="helper-text"
                [attr.data-error]="'ROUTES.ERRORS.WEEKDAYS' | translate"
              >
              </span>
            </ng-container>
          </core-select>

          <core-select
            class="col s12 l4"
            [items]="monthDaysList"
            [placeholder]="'ROUTES.MONTH_DAYS' | translate"
            [isDisabled]="isControlDisabled('monthDays')"
            [hasErrors]="hasControlAnyError('monthDays')"
            [searchable]="true"
            [multiple]="true"
            [dropdownPosition]="'top'"
            formControlName="monthDays"
          >
            <ng-container inputErrors *ngIf="hasControlAnyError('monthDays')">
              <span
                *ngIf="hasControlSpecificError('monthDays', 'required')"
                class="helper-text"
                [attr.data-error]="'ROUTES.ERRORS.MONTH_DAYS' | translate"
              >
              </span>
            </ng-container>
          </core-select>
        </div>
        <div class="row">
          <app-input
            [prefix]="'SEARCH_AIRCRAFT.SEAT_F' | translate"
            [hasErrors]="hasControlAnyError('seatsF')"
            formControlName="seatsF"
            [type]="'number'"
            [defaultValue]="'0'"
            class="col s12 l3 cmd-pb-1"
          >
            <ng-container inputErrors>
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('seatsF', 'min')"
              >
                {{ "ROTATIONS.ERRORS.MIN_VALUE_0" | translate }}
              </mat-error>
            </ng-container>
          </app-input>
          <app-input
            [prefix]="'SEARCH_AIRCRAFT.SEAT_C' | translate"
            [hasErrors]="hasControlAnyError('seatsC')"
            formControlName="seatsC"
            [type]="'number'"
            [defaultValue]="'0'"
            class="col s12 l3 cmd-pb-1"
          >
            <ng-container inputErrors>
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('seatsC', 'min')"
              >
                {{ "ROTATIONS.ERRORS.MIN_VALUE_0" | translate }}
              </mat-error>
            </ng-container>
          </app-input>
          <app-input
            [prefix]="'SEARCH_AIRCRAFT.SEAT_Y' | translate"
            [hasErrors]="hasControlAnyError('seatsY')"
            formControlName="seatsY"
            [type]="'number'"
            [defaultValue]="'0'"
            class="col s12 l3 cmd-pb-1"
          >
            <ng-container inputErrors>
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('seatsY', 'min')"
              >
                {{ "ROTATIONS.ERRORS.MIN_VALUE_0" | translate }}
              </mat-error>
            </ng-container>
          </app-input>
          <div class="col s12 l2">
            <button
              class="route-generator browser-default"
              color="primary"
              type="submit"
              [disabled]="isLoading"
              mat-stroked-button
            >
              {{ "ROUTES.GENERATE_ROUTE" | translate }}
            </button>
          </div>
        </div>
      </form>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel
    class="cmd-mb-3"
    expanded="true"
    *ngIf="this.paginatorLength > 0"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "ROUTES.FLIGHTS" | translate | sentenceCase }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="table-container">
      <mat-table #flightsTable [dataSource]="dataSource">
        <!-- Origin Column-->
        <ng-container matColumnDef="origin">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.ORIGIN_AIRPORT" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.origin.iataCode }}
          </mat-cell>
        </ng-container>
        <!-- Destination Column-->
        <ng-container matColumnDef="destination">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.DESTINATION_AIRPORT" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.destination.iataCode }}
          </mat-cell>
        </ng-container>
        <!-- Departure Time Column-->
        <ng-container matColumnDef="departureTime">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.DEPARTURE_TIME" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.departureTime }}
          </mat-cell>
        </ng-container>
        <!-- Arrival Time Column-->
        <ng-container matColumnDef="arrivalTime">
          <mat-header-cell *matHeaderCellDef>
            {{ "FLIGHT.ARRIVAL_TIME" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.arrivalTime }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
      </mat-table>
      <mat-paginator
        [length]="this.paginatorLength"
        [pageSize]="this.paginatorSize"
        [pageSizeOptions]="[10, 20, 50]"
        (page)="onPage($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-expansion-panel>
</mat-accordion>
