<core-page-bar [pageTitle]="'FILES.PAGE_TITLE' | translate"></core-page-bar>

<button
  color="primary"
  class="cmd-mb-2"
  mat-raised-button
  routerLink="/files/new"
>
  Guardar Ruta
</button>

<mat-accordion multi>
  <mat-expansion-panel class="cmd-mb-2" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "COMMON.GENERAL_DATA" | translate | sentenceCase }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="route-generator valign-wrapper">
        <core-basic-input-text
          #routeGenerator
          [id]="'route-code'"
          [label]="'Cód. Ruta' | translate"
          [(ngModel)]="routeCode"
          (ngModelChange)="routeCode = $event.toUpperCase()"
          class="col s12 l4"
        >
        </core-basic-input-text>

        <button
          color="primary"
          mat-stroked-button
          [disabled]="!routeCode"
          (click)="generateFlights()"
        >
          Generar ruta
        </button>
      </div>

      <hr class="cmd-mb-2" />

      <form [formGroup]="routeForm">
        <div class="row cmd-mt-2">
          <core-select
            [hasErrors]="hasControlAnyError('origin')"
            [items]="originAirports$ | async"
            [label]="'Aeropuerto Origen' | translate"
            [loading]="originAirportsLoading"
            [minTermLength]="1"
            [notFoundText]="'COMMON.NOT_FOUND' | translate"
            [placeholder]="'SEARCH_AIRCRAFT.SELECT_AIRPORT' | translate"
            [searchable]="true"
            [typeahead]="originAirportsInput$"
            [typeToSearchText]="
              'SEARCH_AIRCRAFT.AIRPORT_SEARCH_TEXT' | translate
            "
            class="col s12 l4 cmd-mb-1"
            formControlName="origin"
          >
          </core-select>

          <core-select
            [hasErrors]="hasControlAnyError('airport')"
            [items]="destinationAirports$ | async"
            [label]="'Aeropuerto Destino' | translate"
            [loading]="destinationAirportsLoading"
            [minTermLength]="1"
            [notFoundText]="'COMMON.NOT_FOUND' | translate"
            [placeholder]="'SEARCH_AIRCRAFT.SELECT_AIRPORT' | translate"
            [searchable]="true"
            [typeahead]="destinationAirportsInput$"
            [typeToSearchText]="
              'SEARCH_AIRCRAFT.AIRPORT_SEARCH_TEXT' | translate
            "
            class="col s12 l4"
            formControlName="destination"
          >
          </core-select>

          <core-select
            class="col s12 m4"
            [items]="frequencyList"
            [placeholder]="'Frecuencia' | translate"
            [searchable]="true"
            [itemDescription]="'label'"
            [itemValue]="'value'"
            formControlName="frequency"
          >
          </core-select>
        </div>

        <div class="row">
          <core-basic-input-text
            [id]="'route-startDate'"
            [type]="'date'"
            [label]="'Fecha inicio' | translate"
            [hasErrors]="hasControlAnyError('startDate')"
            formControlName="startDate"
            class="col s12 l4 cmd-mb-1"
          >
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('startDate')">
                <span
                  *ngIf="hasControlSpecificError('startDate', 'required')"
                  class="helper-text"
                  [attr.data-error]="'Debe indicar una fecha' | translate"
                >
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>

          <core-basic-input-text
            [id]="'route-endDate'"
            [type]="'date'"
            [label]="'Fecha fin' | translate"
            [hasErrors]="hasControlAnyError('endDate')"
            formControlName="endDate"
            class="col s12 l4"
          >
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('endDate')">
                <span
                  *ngIf="hasControlSpecificError('endDate', 'required')"
                  class="helper-text"
                  [attr.data-error]="'Debe indicar una fecha' | translate"
                >
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>

          <div class="col s12 l4 center-align">
            <button color="primary" mat-raised-button>Añadir vuelo</button>
          </div>
        </div>
      </form>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "vuelos" | translate | sentenceCase }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="table-container">
      <mat-table #flightsTable [dataSource]="dataSource">
        <ng-container
          [matColumnDef]="column.label"
          *ngFor="let column of columnsToDisplay"
        >
          <mat-header-cell *matHeaderCellDef>
            {{ column.title }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element[column.label] }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsProps"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsProps"></mat-row>
      </mat-table>
    </div>
  </mat-expansion-panel>
</mat-accordion>
