<div class="modal">
  <div class="modal-content">
    <section class="modal-header">
      <h4>{{ title }}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        Cancelar
      </a>
    </section>
    <section class="terminal-detail-form cmd-mr-3 cmd-mb-3 cmd-mt-3">
      <form [formGroup]="terminalForm">
        <div class="row">
          <core-basic-input-text [id]="'terminal-code'" [label]="'Código Terminal'" formControlName="code" [hasErrors]="hasControlAnyError('code')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('code')">
                <span *ngIf="hasControlSpecificError('code', 'required')" class="helper-text" data-error="Debe indicar el código de la terminal">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'terminal-name'" [label]="'Nombre'" formControlName="name" [hasErrors]="hasControlAnyError('name')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('name')">
                <span *ngIf="hasControlSpecificError('name', 'required')" class="helper-text" data-error="Debe indicar el nombre de la terminal">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'terminal-observation'" [label]="'Observaciones'" formControlName="observation" [hasErrors]="hasControlAnyError('observation')">
          </core-basic-input-text>
        </div>
      </form>
    </section>
  </div>
  <div class="modal-footer">
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" 
    [ngClass]="{'disabled': !terminalForm.valid}" (click)="onSaveTerminal()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">Guardar</span>
    </a>
  </div>
</div>