<mat-form-field appearance="outline" class="app-input">
  <input
    type="text"
    class="browser-default {{ cssClasses }}"
    matInput
    [formControl]="_control.control"
    [type]="type"
    [value]="value"
    [errorStateMatcher]="errorStateMatcher"
    (input)="onInput($event.target.value)"
    [patterns]="maskPatterns"
    [mask]="mask"
    [validation]="maskValidation"
  />
  <span matPrefix *ngIf="prefix">{{ prefix }}</span>
  <button
    class="browser-default"
    type="button"
    mat-button
    *ngIf="value"
    matSuffix
    mat-icon-button
    aria-label="clear"
    (click)="clearInput()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <ng-content select="[inputErrors]"></ng-content>
</mat-form-field>
