<div class="modal">
    <div class="modal-content">
      <section class="modal-header">
        <h4>{{ title }}</h4>
        <a class="waves-effect btn-flat modal-close europair-button-blue-1">
          <i class="material-icons right">close</i>
          Cancelar
        </a>
      </section>
      <section class="subcategory-detail-form cmd-mr-3 cmd-mb-3 cmd-mt-3">
        <div class="row">
          <core-basic-input-text [id]="'subcategory-order'" [label]="'Orden'" [formControl]="subcategoryOrderControl"
            [hasErrors]="hasSubcategoryOrderControlErrors()">
            <ng-container inputErrors>
              <ng-container *ngIf="hasSubcategoryOrderControlErrors()">
                <span *ngIf="subcategoryOrderControl.errors.required" class="helper-text"
                  data-error="Debe indicar el orden de la Subcategoría">
                </span>
                <span *ngIf="subcategoryOrderControl.errors.pattern" class="helper-text"
                  data-error="El orden debe de ser un valor numérico">
                </span>
                <span *ngIf="subcategoryOrderControl.errors.maxlength" class="helper-text"
                  data-error="El orden debe de ser un valor numérico menor de 5 cifras">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'subcategory-code'" [label]="'Código del Subcategoría'" [formControl]="subcategoryCodeControl"
            [hasErrors]="hasSubcategoryCodeControlErrors()">
            <ng-container inputErrors>
              <ng-container *ngIf="hasSubcategoryCodeControlErrors()">
                <span *ngIf="subcategoryCodeControl.errors.required" class="helper-text"
                  data-error="Debe indicar el código de la subcategoría">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'subcategory-name'" [label]="'Nombre de Subcategoría'" [formControl]="subcategoryNameControl"
            [hasErrors]="hasSubcategoryNameControlErrors()">
            <ng-container inputErrors>
              <ng-container *ngIf="hasSubcategoryNameControlErrors()">
                <span *ngIf="subcategoryNameControl.errors.required" class="helper-text"
                  data-error="Debe indicar el nombre de la Subcategoría">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
      </section>
    </div>
  
    <div class="modal-footer">
      <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" [ngClass]="{'disabled': anyFieldInvalid()}"
        (click)="onSaveSubcategory()">
        <i class="material-icons">check_circle</i>
        <span class="full-width-btn-text">Guardar</span>
      </a>
    </div>
  </div>