<ng-container *ngIf="routeData$ | async as routeData">
  <core-page-bar [pageTitle]="routeData.title | translate"></core-page-bar>
  <div class="row">
    <button class="browser-default col s12 l2 cmd-mb-2" color="primary" mat-raised-button [disabled]="!fileForm.valid"
      *ngIf="showAction(fileAction.MODIFY_FILE)" (click)="onSaveFile(routeData.isFileDetail)">
      Guardar Expediente
    </button>

    <button *ngIf="showAction(fileAction.CONFIRM_OPERATION)" color="primary" class="col s12 l2 offset-l8 cmd-mb-1"
      (click)="navigateConfirmOperation()" mat-raised-button>
      {{ "FILES.CONFIRM_OPERATION" | translate }}
    </button>

    <button *ngIf="showAction(fileAction.CREATE_CONTRACT)" color="primary" class="col s12 l2 offset-l8 cmd-mb-1"
      (click)="createContract()" mat-raised-button>
      {{ "FILES.CREATE_CONTRACT" | translate }}
    </button>

    <button *ngIf="showAction(fileAction.SIGN_FILE)" color="primary" class="col s12 l2 offset-l8 cmd-mb-1"
      (click)="signFile()" mat-raised-button>
      {{ "FILES.SING_FILE" | translate }}
    </button>

    <button *ngIf="showAction(fileAction.GENERATE_PLANING)" color="primary" class="col s12 l2 offset-l8 cmd-mb-1"
      (click)="generatePlanning()" mat-raised-button>
      {{ "FILES.GENERATE_PLANING" | translate }}
    </button>
  </div>

  <mat-accordion multi>
    <mat-expansion-panel class="app-expansion-panel" expanded="true">
      <mat-expansion-panel-header class="cmd-mb-2">
        <mat-panel-title>
          {{ "COMMON.GENERAL_DATA" | translate | sentenceCase }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <form [formGroup]="fileForm">
          <div class="row">
            <app-input [prefix]="'FILES.CODE' | translate" [hasErrors]="hasControlAnyError('code')"
              [errorStateMatcher]="matcher" formControlName="code" class="col s12 l4">
            </app-input>

            <app-input [prefix]="'FILES.DESCRIPTION' | translate" [hasErrors]="hasControlAnyError('description')"
              [errorStateMatcher]="matcher" formControlName="description" class="col s12 l4">
              <ng-container inputErrors>
                <mat-error class="ep-error-msg" *ngIf="hasControlAnyError('description')">
                  {{ "FILES.ERRORS.DESCRIPTION" | translate }}
                </mat-error>
              </ng-container>
            </app-input>


            <app-select class="col s12 l4" [id]="'select-file-status'" [items]="statusOptions" *ngIf="routeData.isFileDetail"
              [placeholder]="'FILES.STATUS' | translate" [ngClass]="{'booked-blue': isBookedBlue(), 'booked-green': isBookedGreen()}" [clearable]="false"
              [label]="'FILES.STATUS' | translate" [itemDescription]="'name'" [itemValue]="'id'" formControlName="statusId" (selectedValueEvent)="updateFileState($event)">
              <ng-container inputErrors *ngIf="hasControlAnyError('statusId')">
                <span *ngIf="hasControlSpecificError('statusId', 'required')" class="helper-text"
                  [attr.data-error]="'FILES.ERRORS.REQUIRED' | translate">
                </span>
              </ng-container>
            </app-select>
          </div>

          <div class="row">
            <app-select class="col s12 l4" [id]="'select-file-operation-type'" [items]="operationsType" *ngIf="routeData.isFileDetail"
              [placeholder]="'FILES.OPERATION_TYPE' | translate" [clearable]="false"
              [label]="'FILES.OPERATION_TYPE' | translate" formControlName="operationType">
              <ng-container inputErrors *ngIf="hasControlAnyError('operationType')">
                <span *ngIf="hasControlSpecificError('operationType', 'required')" class="helper-text"
                  [attr.data-error]="'FILES.ERRORS.REQUIRED' | translate">
                </span>
              </ng-container>
            </app-select>

            <app-autocomplete class="col s12 l4" [options]="clientOptions$ | async"
              [prefix]="'FILES.CLIENT' | translate" [lengthToTriggerSearch]="0" optionValue="id" optionLabel="name"
              formControlName="client">
            </app-autocomplete>
          </div>
          <div class="row">
            <app-autocomplete class="col s12 l4" [options]="contactOptions$ | async"
              [prefix]="'FILES.CONTACT' | translate" [lengthToTriggerSearch]="0" optionValue="id" optionLabel="name"
              formControlName="contact">
            </app-autocomplete>
          </div>
        </form>
      </ng-template>
    </mat-expansion-panel>

    <ng-container *ngIf="routeData.isFileDetail">
      <mat-expansion-panel #routes class="app-expansion-panel cmd-mb-2" expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "FILES.ROUTES" | translate | sentenceCase }}
          </mat-panel-title>
          <mat-panel-description *ngIf="routes.expanded && showAction(fileAction.CREATE_ROUTES)">
            <a mat-button routerLink="routes/new">
              {{ "FILES.NEW_ROUTE" | translate | sentenceCase }}
              <mat-icon svgIcon="europair_add"></mat-icon>
            </a>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <ng-template matExpansionPanelContent> -->
        <div class="table-container">
          <mat-table #routesTable matSort multiTemplateDataRows [dataSource]="dataSource">
            <!-- Label Column -->
            <ng-container matColumnDef="label" sticky>
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Rutas Petición
              </mat-header-cell>
              <mat-cell *matCellDef="let element" class="parent-route">
                <mat-icon class="expand-icon" *ngIf="element.rotations.length > 0"
                  [class.active]="expandedRoutes.includes(element)">
                  expand_more
                </mat-icon>
                {{ element.label }}
              </mat-cell>
            </ng-container>

            <!-- Frequency Column -->
            <ng-container matColumnDef="frequency">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Frecuencia
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.frequency }}
              </mat-cell>
            </ng-container>

            <!-- startDate Column-->
            <ng-container matColumnDef="startDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha inicio
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.startDate }}
              </mat-cell>
            </ng-container>

            <!-- EndDate Column-->
            <ng-container matColumnDef="endDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha Fin
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.endDate }}
              </mat-cell>
            </ng-container>

            <!-- WeekDays Column-->
            <ng-container matColumnDef="frequencyDays">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Días semana
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ getFormattedFrequency(element.frequencyDays) | uppercase }}
              </mat-cell>
            </ng-container>

            <!-- Rotations Column-->
            <ng-container matColumnDef="rotations.length">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Rotaciones
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.rotations.length }}
              </mat-cell>
            </ng-container>

            <!-- Seats Column-->
            <ng-container matColumnDef="seats">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Asientos F/C/Y
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.seats }}
              </mat-cell>
            </ng-container>

            <!-- PeriodDays Column-->
            <ng-container matColumnDef="periodDays">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Días Periodo
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.periodDays }}
              </mat-cell>
            </ng-container>

            <!-- Month Day Column-->
            <ng-container matColumnDef="dayNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Día del mes
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.dayNumber }}
              </mat-cell>
            </ng-container>

            <!-- Status Column-->
            <ng-container matColumnDef="status" stickyEnd>
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Estado
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.routeState }} </mat-cell>
            </ng-container>

            <!-- Actions Column-->
            <ng-container matColumnDef="route-actions" stickyEnd>
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-icon
                  (click)="navigateToSearchAircraft(element.id)"
                  svgIcon="europair_plane"
                ></mat-icon>
                <mat-icon
                  (click)="runAction($event)"
                  svgIcon="europair_trash"
                ></mat-icon>
              </mat-cell>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <mat-cell *matCellDef="let parentElement">
                <mat-table [dataSource]="getChildRoutes(parentElement)">
                  <!-- Label Column -->
                  <ng-container matColumnDef="label">
                    <mat-cell *matCellDef="let element" class="expanded-table-sticky start">
                      <span class="separator"> </span>
                      {{ element.label }}
                    </mat-cell>
                  </ng-container>

                  <!-- Frequency Column -->
                  <ng-container matColumnDef="frequency">
                    <mat-cell *matCellDef="let element">
                      {{ element.frequency }}
                    </mat-cell>
                  </ng-container>

                  <!-- startDate Column-->
                  <ng-container matColumnDef="startDate">
                    <mat-cell *matCellDef="let element">
                      {{ element.startDate }}
                    </mat-cell>
                  </ng-container>

                  <!-- EndDate Column-->
                  <ng-container matColumnDef="endDate">
                    <mat-cell *matCellDef="let element">
                      {{ element.endDate }}
                    </mat-cell>
                  </ng-container>

                  <!-- WeekDays Column-->
                  <ng-container matColumnDef="frequencyDays">
                    <mat-cell *matCellDef="let element">
                      {{
                        getFormattedFrequency(element.frequencyDays) | uppercase
                      }}
                    </mat-cell>
                  </ng-container>

                  <!-- Rotations Column-->
                  <ng-container matColumnDef="rotations.length">
                    <mat-cell *matCellDef="let element">
                      {{ getRotationNumber(parentElement, element) }}
                    </mat-cell>
                  </ng-container>

                  <!-- Seats Column-->
                  <ng-container matColumnDef="seats">
                    <mat-cell *matCellDef="let element">
                      {{ element.seats }}
                    </mat-cell>
                  </ng-container>

                  <!-- PeriodDays Column-->
                  <ng-container matColumnDef="periodDays">
                    <mat-cell *matCellDef="let element">
                      {{ element.periodDays }}
                    </mat-cell>
                  </ng-container>

                  <!-- Month Day Column-->
                  <ng-container matColumnDef="dayNumber">
                    <mat-cell *matCellDef="let element" class="expanded-last-row">
                      {{ element.dayNumber }}
                    </mat-cell>
                    <mat-cell> - </mat-cell>
                  </ng-container>

                  <!-- Status Column-->
                  <ng-container matColumnDef="status">
                    <mat-cell *matCellDef="let element" class="expanded-table-sticky end">
                      {{ element.routeState }}
                    </mat-cell>
                  </ng-container>

                  <!-- Actions Column-->
                  <ng-container matColumnDef="route-actions">
                    <mat-cell
                      *matCellDef="let element"
                      class="expanded-table-sticky end"
                    >
                      <mat-icon
                        (click)="editRotation(parentElement, element)"
                        svgIcon="europair_edit"
                      ></mat-icon>
                      <mat-icon                       
                        (click)="runAction($event)"
                        svgIcon="europair_trash"
                      ></mat-icon>
                    </mat-cell>
                  </ng-container>

                  <mat-row *matRowDef="let element; columns: columnsToDisplay"></mat-row>
                </mat-table>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let element; columns: columnsToDisplay" class="element-row"
              [class.expanded-row]="expandedRoutes.includes(element)" (click)="expandRow(element)"></mat-row>
            <mat-row class="detail-row" *matRowDef="let element; columns: ['expandedDetail']" [@detailExpand]="
              expandedRoutes.includes(element) ? 'expanded' : 'collapsed'
              " style="overflow: hidden"></mat-row>
          </mat-table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
      </mat-expansion-panel>

      <mat-expansion-panel class="app-expansion-panel cmd-mb-2" [expanded]="expandedQuote">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "Cotizaciones" | translate | sentenceCase }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="table-container">
          <mat-table #contributionsTable matSort multiTemplateDataRows [dataSource]="dataSourceRouteContributions">
            <!-- Label Column -->
            <ng-container matColumnDef="label" sticky>
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.CONTRIBUTIONS.ROUTES" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element" class="parent-route">
                <mat-icon class="expand-icon" *ngIf="element.rotations.length > 0"
                  [class.active]="expandedContributions.includes(element)">
                  expand_more
                </mat-icon>
                {{ element.label }}
              </mat-cell>
            </ng-container>

            <!-- requestTime Column -->
            <ng-container matColumnDef="requestTime">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.CONTRIBUTIONS.REQUEST_TIME" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
              </mat-cell>
            </ng-container>

            <!-- Operator Column-->
            <ng-container matColumnDef="operator">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.CONTRIBUTIONS.OPERATOR" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
              </mat-cell>
            </ng-container>

            <!-- Aircraft type-->
            <ng-container matColumnDef="aircraftType">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.CONTRIBUTIONS.AIRCRAFT_TYPE" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
              </mat-cell>
            </ng-container>

            <!-- Total passengers Column-->
            <ng-container matColumnDef="totalPassengers">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.CONTRIBUTIONS.TOTAL_PASSENGERS" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
              </mat-cell>
            </ng-container>

            <!-- Purchase price Column-->
            <ng-container matColumnDef="purchasePrice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.CONTRIBUTIONS.PURCHASE_PRICE" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
              </mat-cell>
            </ng-container>

            <!-- Sale price Column-->
            <ng-container matColumnDef="salesPrice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.CONTRIBUTIONS.SALES_PRICE" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
              </mat-cell>
            </ng-container>

            <!-- Status Column-->
            <ng-container matColumnDef="status" stickyEnd>
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.CONTRIBUTIONS.STATUS" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.routeState }} </mat-cell>
            </ng-container>

            <!-- Actions Column-->
            <ng-container matColumnDef="contribution-actions" stickyEnd>
              <mat-header-cell *matHeaderCellDef>
                {{ "FILES.CONTRIBUTIONS.ACTIONS" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
              </mat-cell>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <mat-cell *matCellDef="let parentElement">
                <mat-table [dataSource]="getContributionData(parentElement)">
                  <!-- Label Column -->
                  <ng-container matColumnDef="label">
                    <mat-cell *matCellDef="let element" class="expanded-table-sticky start">
                      <span class="separator"> </span>
                    </mat-cell>
                  </ng-container>

                  <!-- requestTime Column -->
                  <ng-container matColumnDef="requestTime">
                    <mat-cell *matCellDef="let element">
                      {{ element?.requestTime | date: 'dd/MM/yyyy' }}
                    </mat-cell>
                  </ng-container>

                  <!-- operator Column-->
                  <ng-container matColumnDef="operator">
                    <mat-cell *matCellDef="let element">
                      <ng-container *ngIf="element?.operator?.name?.length > 25; else operatorText">
                        <div class="operator-container" [matTooltip]="element?.operator?.name" [matTooltipClass]="'europair-tooltip'">
                          {{ element?.operator?.name }}
                        </div>
                      </ng-container>
                      <ng-template #operatorText>
                        <div class="operator-container">
                          {{ element?.operator?.name }}
                        </div>
                      </ng-template>
                    </mat-cell>
                  </ng-container>

                  <!-- aircraftType Column-->
                  <ng-container matColumnDef="aircraftType">
                    <mat-cell *matCellDef="let element">
                      {{ element?.aircraft?.aircraftType?.code }}
                    </mat-cell>
                  </ng-container>

                  <!-- totalPassengers Column-->
                  <ng-container matColumnDef="totalPassengers">
                    <mat-cell *matCellDef="let element">
                      {{
                        getTotalPassengers(element)
                      }}
                    </mat-cell>
                  </ng-container>

                  <!-- purchasePrice Column-->
                  <ng-container matColumnDef="purchasePrice">
                    <mat-cell *matCellDef="let element">
                      {{ element?.purchasePrice | number }}
                    </mat-cell>
                  </ng-container>

                  <!-- salesPrice Column-->
                  <ng-container matColumnDef="salesPrice">
                    <mat-cell *matCellDef="let element" class="expanded-last-row">
                      {{ element?.salesPrice | number }}
                    </mat-cell>
                  </ng-container>

                  <!-- Status Column-->
                  <ng-container matColumnDef="status">
                    <mat-cell *matCellDef="let element" class="expanded-table-sticky end">
                      {{ element?.contributionState }}
                    </mat-cell>
                  </ng-container>

                  <!-- Actions Column-->
                  <ng-container matColumnDef="contribution-actions">
                    <mat-cell
                      *matCellDef="let element"
                      class="expanded-table-sticky end"
                    >
                      <mat-icon
                        (click)="navigateToContributionDetail(parentElement, element)"
                        svgIcon="europair_edit">
                      </mat-icon>
                      <mat-icon
                        (click)="sendContribution(parentElement, element)"
                        svgIcon="europair_feather_mail">
                      </mat-icon>
                      <mat-icon
                        (click)="deleteContribution(parentElement, element)"
                        svgIcon="europair_trash">
                      </mat-icon>
                    </mat-cell>
                  </ng-container>

                  <mat-row *matRowDef="let element; columns: columnsContributionsToDisplay">
                  </mat-row>
                </mat-table>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsContributionsToDisplay; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let element; columns: columnsContributionsToDisplay" class="element-row"
              [class.expanded-row]="expandedContributions.includes(element)" 
              (click)="expandContributionsRow(element)"></mat-row>
            <mat-row class="detail-row" *matRowDef="let element; columns: ['expandedDetail']" [@detailExpand]="
              expandedContributions.includes(element) ? 'expanded' : 'collapsed'
              " style="overflow: hidden"></mat-row>
          </mat-table>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel #additionalServices class="cmd-mb-2" *ngIf="showAction(fileAction.SHOW_ADDITIONAL_SERVICE)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "FILES.ADDITIONAL_SERVICES.TITLE" | translate | sentenceCase }}
          </mat-panel-title>
          <mat-panel-description *ngIf="additionalServices.expanded && hasRoutes">
            <a mat-button routerLink="additional-services">
              {{ "FILES.ADDITIONAL_SERVICES.NEW" | translate | sentenceCase }}
              <mat-icon svgIcon="europair_add"></mat-icon>
            </a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="table-container additional-services-table">
          <mat-table matSort multiTemplateDataRows [dataSource]="dataSourceAdditionalService">
            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.SERVICE_CODE" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.DESCRIPTION" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.QUANTITY" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="provider">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.PROVIDER" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.provider?.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="purchasePrice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.PURCHASE_AMOUNT" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.purchasePrice }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="salePrice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.SALE_AMOUNT" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.salePrice }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="tax">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.TAX" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.tax }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="commision">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.COMMISSION" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.commision }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="comment">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.COMMENT" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.comment }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="seller">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.SELLER" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.seller }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ "FILES.ADDITIONAL_SERVICES.STATUS" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.status }}</mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                {{ "FILES.ADDITIONAL_SERVICES.ACTIONS" | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-icon (click)="runAction($event)" svgIcon="europair_trash"></mat-icon>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsAdditionalServicesToDisplay"></mat-header-row>
            <mat-row *matRowDef="let element; columns: columnsAdditionalServicesToDisplay" class="element-row">
            </mat-row>
          </mat-table>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
      </mat-expansion-panel>

      <mat-expansion-panel class="cmd-mb-2">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "FILES.OPERATIONS_OBSERVATIONS.TITLE" | translate | sentenceCase }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <form [formGroup]="operationForm">
            <div class="row  cmd-mt-1">
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.FLIGHT_REASON' | translate" [hasErrors]="hasControlAnyError('flightReason')"
                formControlName="flightMotive" class="col s12 l4">
              </app-input>
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.CONECTIONS' | translate" [hasErrors]="hasControlAnyError('conections')"
                formControlName="connections" class="col s12 l4">
              </app-input>
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.FLIGHT_LIMITATION' | translate" [hasErrors]="hasControlAnyError('flightLimitation')"
                formControlName="limitations" class="col s12 l4">
              </app-input>
            </div>
            <div class="row">
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.FUEL' | translate" [hasErrors]="hasControlAnyError('fuel')"
                formControlName="fixedVariableFuel" class="col s12 l4">
              </app-input>
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.EQUIPMENT' | translate" [hasErrors]="hasControlAnyError('equipment')"
                formControlName="luggage" class="col s12 l4">
              </app-input>
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.SPECIAL_EQUIPMENT' | translate" [hasErrors]="hasControlAnyError('especialEquipment')"
                formControlName="specialLuggage" class="col s12 l4">
              </app-input>
            </div>
            <div class="row">
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.SERVICE_ON_BOARD' | translate" [hasErrors]="hasControlAnyError('serviceOnBoard')"
                formControlName="onBoardService" class="col s12 l4">
              </app-input>
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.SPECIAL_REQUEST' | translate" [hasErrors]="hasControlAnyError('specialRequest')"
                formControlName="specialRequests" class="col s12 l4">
              </app-input>
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.OTHER_CHARGES' | translate" [hasErrors]="hasControlAnyError('otherCharges')"
                formControlName="otherCharges" class="col s12 l4">
              </app-input>
            </div>
            <div class="row">
              <app-input [prefix]="'FILES.OPERATIONS_OBSERVATIONS.OPERATIVE' | translate" [hasErrors]="hasControlAnyError('operative')"
                formControlName="operationalInfo" class="col s12 l4">
              </app-input>
            </div>
            <div class="row">
              <mat-form-field class="col s12 l12">
                <mat-label>{{ "FILES.OPERATIONS_OBSERVATIONS.OBSERVATIONS" | translate }}</mat-label>
                <textarea matInput formControlName="observation" [maxlength]="observationMaxLength"></textarea>
              </mat-form-field>
              <button color="primary" class="col s12 l2 offset-l10" (click)="onConfirmOperation()" mat-raised-button>
                {{ "FILES.CONFIRM" | translate }}
              </button>
            </div>
          </form>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</ng-container>
