<div class="modal">
  <div class="modal-content">
    <section class="modal-header">
      <h4>{{ title }}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{ 'COMMON.CANCEL' | translate | sentenceCase}}
      </a>
    </section>
    <section class="runway-detail-form cmd-mr-3 cmd-mb-3 cmd-mt-3">
      <form [formGroup]="speedAverageForm">
        <div class="row">
          <app-input
            [type]="'number'"
            [prefix]="'Desde' | translate"
            formControlName="fromDistance"
            class="col s12 m4 col-no-pad-left cmd-mb-1">
            <ng-container inputErrors *ngIf="hasControlAnyError('fromDistance')">
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('fromDistance', 'required')">
                {{ "Debe indicar una distancia" | translate }}
              </mat-error>
            </ng-container>
          </app-input>

          <app-input
            [type]="'number'"
            [prefix]="'Hasta' | translate"
            formControlName="toDistance"
            class="col s12 m4 col-no-pad-left cmd-mb-1">
            <ng-container inputErrors *ngIf="hasControlAnyError('toDistance')">
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('toDistance', 'required')">
                {{ "Debe indicar una distancia" | translate }}
              </mat-error>
            </ng-container>
          </app-input>

          <core-select
            class="col s12 m4 cmd-mb-1"
            [items]="measureList"
            [itemDescription]="'label'"
            [itemValue]="'value'"
            [searchable]="true"
            [label]="'Unidad de distancia'"
            [placeholder]="'Seleccione una unidad'"
            [hasErrors]="hasControlAnyError('distanceUnit')"
            formControlName="distanceUnit"
          >
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('distanceUnit')">
                <span
                  *ngIf="hasControlSpecificError('distanceUnit', 'required')"
                  class="helper-text"
                  data-error="Debe indicar la unidad de medida"
                >
                </span>
              </ng-container>
            </ng-container>
          </core-select>
        </div>

        <div class="row">
          <app-input
            [type]="'number'"
            [prefix]="'Velocidad media' | translate"
            formControlName="averageSpeed"
            class="col s12 m6 col-no-pad-left">
            <ng-container inputErrors *ngIf="hasControlAnyError('averageSpeed')">
              <mat-error
                class="ep-error-msg"
                *ngIf="hasControlSpecificError('averageSpeed', 'required')">
                {{ "Debe indicar una velocidad" | translate }}
              </mat-error>
            </ng-container>
          </app-input>

          <core-select
            class="col s12 m6"
            [items]="measureSpeedList"
            [itemDescription]="'label'"
            [itemValue]="'value'"
            [searchable]="true"
            [label]="'Unidad de velocidad'"
            [placeholder]="'Seleccione una unidad'"
            [hasErrors]="hasControlAnyError('averageSpeedUnit')"
            formControlName="averageSpeedUnit"
          >
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('averageSpeedUnit')">
                <span
                  *ngIf="
                    hasControlSpecificError('averageSpeedUnit', 'required')
                  "
                  class="helper-text"
                  data-error="Debe indicar la unidad de medida"
                >
                </span>
              </ng-container>
            </ng-container>
          </core-select>
        </div>
      </form>
    </section>
  </div>

  <div class="modal-footer">
    <a
      class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100"
      [ngClass]="{ disabled: !speedAverageForm.valid }"
      (click)="onSaveSpeed()"
    >
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">{{ 'COMMON.SAVE' | translate | sentenceCase}}</span>
    </a>
  </div>
</div>
