button.browser-default {
  &:focus {
    background-color: unset;
  }
}

.mat-form-field-disabled {
  opacity: 0.6;
  &::ng-deep {
    .mat-form-field-infix {
      background-color: #eee;
      font-weight: bold;
    }
  }
}
.mat-form-field-invalid::ng-deep .helper-text[data-error]{
  position: absolute;
  top: 27px;
  left: 11px;

  &::after {
    width: calc(100% - 3rem);
    color: #f44336;
    content: attr(data-error);
    font-size: 12px;
  }
}