<core-page-bar [pageTitle]="pageTitle"></core-page-bar>
<fleet-types-top-bar [barButtons]="typesBarButtons" [typesSelectedCount]="typesSelectedCount" [typesSelected]="selectedType !== undefined"
(executeAction)="onBarButtonTypesClicked($event)" (executeChangeCheck)="checkShowDisabled($event)"></fleet-types-top-bar>
<section class="types-tables-container cmd-mt-1 cmd-mb-2">
  <section class="types-table">
    <core-table [columnsHeader]="typesColumnsHeader" [columnsData]="typesColumnsData"
      [pagination]="typePagination"
      (selectedItem)="onTypeSelected($event)" (executeActionEmitter)="onTypeAction($event)">
    </core-table>
  </section>
</section>

<app-fleet-type-detail [title]="typeDetailTitle" [typeDetail]="typeSelected"
(saveType)="onSaveType($event)"></app-fleet-type-detail>

<core-modal>
  <ng-container content>
    <section class="modal-header">
      <h4>Confirmar eliminación</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        Cancelar
      </a>
    </section>
    <section class="modal-body">
      <p>¿Está seguro que desea eliminar esta categoría?</p>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDeleteType()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">Confirmar</span>
    </a>
  </ng-container>
</core-modal>