<section class="regions-button-bar">
  <core-button-bar 
    [barButtons]="regionsBarButtons" [itemsSelectedCount]="regionsSelectedCount"
    (executeAction)="onBarButtonClicked($event)">
  </core-button-bar>
  <core-search-bar 
    [ngClass]="{'hide': !showMobileSearchBar}" class="hide-on-med-and-up" 
    [inputSearchId]="'regions-search-input'"
    (basicSearch)="onMobileBasicSearch($event)"
    (openAdvancedSearch)="onOpenAdvancedSearch()"
    (openSortMenu)="onOpenSortMenu()">
  </core-search-bar>
</section>
<core-table 
  [columnsHeader]="regionsColumnsHeader" 
  [columnsData]="regionsColumnsData"
  [pagination]="regionsPagination"
  (selectedItem)="onRegionSelected($event)"
  (search)="onFilterRegions($event)"
  (sortByColumn)="onSortRegions($event)"> 
</core-table>

<app-airport-region-editor
  (addRegions)="onAddRegions($event)">
</app-airport-region-editor>

<core-advanced-search>
  <ng-container body>
    <form [formGroup]="regionAdvancedSearchForm">
      <div class="row">
        <core-basic-input-text [id]="'advanced-search-region-code'" [label]="'Código'" [clearable]="true" formControlName="code">
        </core-basic-input-text>
      </div>
      <div class="row">
        <core-basic-input-text [id]="'advanced-search-region-name'" [label]="'Región'" [clearable]="true" formControlName="name">
        </core-basic-input-text>
      </div>
    </form>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onMobileAdvancedSearch()">
      <i class="material-icons">search</i>
      <span class="full-width-btn-text">Buscar</span>
    </a>
  </ng-container>
</core-advanced-search>

<core-sort-menu>
  <ng-container body>
    <form [formGroup]="regionSortForm">
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="code,ASC" formControlName="sort" />
          <span>Código A -> Z</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="code,DESC" formControlName="sort" />
          <span>Código Z -> A</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="name,ASC" formControlName="sort" />
          <span>Región A -> Z</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="sort" type="radio" value="name,DESC" formControlName="sort" />
          <span>Región Z -> A</span>
        </label>
      </p>
    </form>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onMobileSort()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">Aceptar</span>
    </a>
  </ng-container>
</core-sort-menu>

<core-modal> 
  <ng-container content>
    <section class="modal-header">
      <h4>Confirmar eliminación</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        Cancelar
      </a>
    </section>
    <section class="modal-body">
      <p>¿Está seguro que desea eliminar la región <b>{{regionSelected?.name}}</b>?</p>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDeleteRegion()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">Confirmar</span>
    </a>
  </ng-container>
</core-modal>