@import "variables";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$europair-management-front-primary: mat-palette($mat-indigo);
$europair-management-front-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$europair-management-front-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$europair-management-front-theme: mat-light-theme(
  $europair-management-front-primary,
  $europair-management-front-accent,
  $europair-management-front-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($europair-management-front-theme);

//MARGIN
@for $mincrement from 1 through 6 {
  .cmd-m-#{$mincrement} {
    margin: #{$mincrement}rem !important;
  }
}

@for $mrincrement from 1 through 6 {
  .cmd-mr-#{$mrincrement} {
    margin-right: #{$mrincrement}rem !important;
  }
}

@for $mlincrement from 1 through 6 {
  .cmd-ml-#{$mlincrement} {
    margin-left: #{$mlincrement}rem !important;
  }
}

@for $mtincrement from 1 through 6 {
  .cmd-mt-#{$mtincrement} {
    margin-top: #{$mtincrement}rem !important;
  }
}

@for $mbincrement from 1 through 6 {
  .cmd-mb-#{$mbincrement} {
    margin-bottom: #{$mbincrement}rem !important;
  }
}

@for $mxincrement from 1 through 6 {
  .cmd-mx-#{$mxincrement} {
    margin-left: #{$mxincrement}rem !important;
    margin-right: #{$mxincrement}rem !important;
  }
}

@for $myincrement from 1 through 6 {
  .cmd-my-#{$myincrement} {
    margin-top: #{$myincrement}rem !important;
    margin-bottom: #{$myincrement}rem !important;
  }
}

//PADDING
@for $pincrement from 1 through 6 {
  .cmd-p-#{$pincrement} {
    padding: #{$pincrement}rem !important;
  }
}

@for $princrement from 1 through 6 {
  .cmd-pr-#{$princrement} {
    padding-right: #{$princrement}rem !important;
  }
}

@for $plincrement from 1 through 6 {
  .cmd-pl-#{$plincrement} {
    padding-left: #{$plincrement}rem !important;
  }
}

@for $ptincrement from 1 through 6 {
  .cmd-pt-#{$ptincrement} {
    padding-top: #{$ptincrement}rem !important;
  }
}

@for $pbincrement from 1 through 6 {
  .cmd-pb-#{$pbincrement} {
    padding-bottom: #{$pbincrement}rem !important;
  }
}

//POSITION
.cmd-position-fixed {
  position: fixed !important;
}

//DISPLAY
.cmd-flex {
  display: flex !important;
}

//HEIGHT
@for $hincrement from 1 through 20 {
  $height: $hincrement * 5;
  .cmd-h-#{$height} {
    height: percentage(($height) * 1/100) !important;
  }
}

//WIDTH
@for $wincrement from 1 through 20 {
  $width: $wincrement * 5;
  .cmd-w-#{$width} {
    width: percentage(($width) * 1/100) !important;
  }
}

//ICONS
a.europair-icon-blue {
  background-color: $europair-color-blue-dark-2;
}
a.europair-icon-blue:hover {
  background-color: $europair-color-blue-dark-2;
}

a.icon-blue-light-3 {
  background-color: $europair-color-blue-light-3;
}

a.icon-blue-light-3:hover {
  background-color: $europair-color-blue-light-3;
}

a.icon-blue-light-4 {
  background-color: $europair-color-blue-light-4;
}
a.icon-blue-light-4:hover {
  background-color: $europair-color-blue-light-4;
}

i.icon-blue-light-4 {
  color: $europair-color-blue-light-4;
}
i.icon-blue-light-4:hover {
  color: $europair-color-blue-light-4;
}

i.europair-icon-blue {
  color: $europair-color-blue-dark-2 !important;
}

i.europair-icon-blue:hover {
  color: $europair-color-blue-dark-2;
}

a.europair-icon-blue-1 {
  background-color: $europair-color-blue-dark-1;
}
a.europair-icon-blue-1:hover {
  background-color: $europair-color-blue-dark-1;
}

button.europair-icon-blue-1 {
  background-color: $europair-color-blue-dark-1;
}

button.europair-icon-blue-1:hover {
  background-color: $europair-color-blue-dark-1;
}

button.mat-sort-header-button:focus {
  background-color: unset;
}

a.europair-icon-red-1 {
  background-color: $europair-color-red-1;
}
a.europair-icon-red-1:hover {
  background-color: $europair-color-red-1;
}

a.europair-button-blue-1 {
  color: $europair-color-blue-dark-1;
}
a.europair-button-blue-1:hover {
  color: $europair-color-blue-dark-1;
}

a.europair-icon-blue-dark-6 {
  background-color: $europair-color-blue-dark-6;
}
a.europair-icon-blue-dark-6:hover {
  background-color: $europair-color-blue-dark-6;
}

// INPUT

input {
  color: $europair-color-blue-dark-2;
}

.input-suffix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  transition: color 0.2s;
  top: 0.5rem;
  right: 0;
  float: right !important;
}

// BUTTONS
.full-width-btn-text {
  position: relative;
  top: -0.4rem;
}

// MODALS
.modal-header {
  display: flex;
  justify-content: space-between;
}

//HIDE
.cmd-hide {
  display: none;
}

// RADIO BUTTONS
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: $europair-color-blue-dark-1 !important;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid $europair-color-blue-dark-1 !important;
}

[type="radio"].with-gap:checked + span:after {
  transform: scale(0.5) !important;
}

//LABEL

label {
  color: $europair-color-blue-dark-2 !important;
  font-size: 1rem !important;
}

// SELECT

.ng-select.ng-select-single .ng-select-container .ng-value-container {
  .ng-placeholder {
    position: absolute !important;
  }
  .ng-input {
    // position: relative !important;
    input {
      margin-bottom: 0;
    }
  }
}

//MATERIAL
.app-expansion-panel .mat-expansion-panel-body {
  padding: 0;
}

.app-input.mat-form-field-appearance-outline {
  width: 100%;

  .mat-form-field-outline,
  .mat-form-field-prefix {
    top: 0;
    padding-right: 0.75em;
  }

  .mat-form-field-wrapper .mat-form-field-flex {
    padding-right: 0;
    background-color: #f9fcff;
  }

  .mat-form-field-outline {
    padding-right: 0;
    color: #cce0f2;
    z-index: 2;

    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
      border-radius: 0;
    }
  }

  .mat-form-field-infix {
    border-top: 0;
    padding: 1em 0.5em 1em 0.5em;
    background-color: white;
  }

  .mat-form-field-suffix {
    top: 0;
    display: flex;
    align-self: center;
  }
}

// MATERIALIZE CSS H4
h4 {
  font-size: 2.28rem !important;
  line-height: 110% !important;
  margin: 1.52rem 0 0.912rem 0 !important;
}
