/*BLUE*/
$europair-color-blue-light-1: #F9FCFF;
$europair-color-blue-light-2: #EEF7FF;
$europair-color-blue-light-3: #CCE0F2;
$europair-color-blue-light-4:#7392B6;

$europair-color-blue-dark-1: #005795;
$europair-color-blue-dark-2: #0D1644;
$europair-color-blue-dark-3: #001732;



