@import "~src/variables.scss";

.master-table {
  background-color: $europair-color-blue-light-1;
  color: $europair-color-blue-dark-2;
  .row {
    margin-bottom: 0;
    min-height: 40px;
  }
  .col {
    border-right: 1px solid $europair-color-blue-light-3;
  }
  .master-table-column-headers {
    border-bottom: 2px solid $europair-color-blue-light-4;
    font-weight: bold;
    article {
      padding-right: 0 !important;
      min-height: 40px;
      display: flex;
      align-items: center;
    }
  }
  .master-table-data-row {
    border-bottom: 1px solid $europair-color-blue-light-4;
    article {
      min-height: 40px;
      display: flex;
      align-items: center;
    }
    article.actions {
      justify-content: center;
      .mobile-actions {
        ul,
        li,
        li > a {
          padding: 0 !important;
        }
        ul li > a i {
          margin: 0;
        }
      }
    }
  }
  .master-table-data-row {
    display: flex;
    align-items: center;
    justify-content: center;
    &:nth-child(odd) {
      background-color: $europair-color-blue-light-2;
    }
  }
  .master-table-data-row:hover {
    background-color: $europair-color-blue-light-3;
  }
  .row.master-table-data-row.activate {
    border: 1px solid $europair-color-blue-light-4;
    background-color: $europair-color-blue-light-3;
    article.col:nth-child(1) {
      background-color: $europair-color-blue-light-3;
    }
  }
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  top: 4px;
}
