<core-page-bar [pageTitle]="pageTitle | translate"></core-page-bar>

<section class="save cmd-mt-1">
  <a
    class="waves-effect waves-light btn europair-icon-blue-1 cmd-mr-1 hide-on-small-only"
    [routerLink]="'/fleet/types'"
  >
    <i class="material-icons left">keyboard_return</i>
    {{ "COMMON.RETURN" | translate }}
  </a>
  <a
    class="waves-effect waves-light btn europair-icon-blue-1 cmd-mr-1 hide-on-small-only"
    [ngClass]="{ disabled: !typeForm.valid }"
    (click)="onSaveType()"
  >
    <i class="material-icons left">{{ "save" }}</i>
    {{ "COMMON.SAVE" | translate }}
  </a>
  <div class="fixed-action-btn">
    <a
      class="btn-floating waves-effect waves-light europair-icon-blue-1 cmd-mr-1 hide-on-med-and-up"
      [routerLink]="'/fleet/types'"
    >
      <i class="material-icons">keyboard_return</i>
    </a>
    <a
      class="btn-floating waves-effect waves-light europair-icon-blue-1 cmd-mr-1 hide-on-med-and-up"
      [ngClass]="{ disabled: !typeForm.valid }"
      (click)="onSaveType()"
    >
      <i class="material-icons">{{ "save" }}</i>
    </a>
  </div>
</section>

<section class="operator-detail-form cmd-mt-1">
  <form [formGroup]="typeForm">
    <ul class="collapsible expandable cmd-mb-2" appMatCollapsible>
      <li class="active">
        <div class="collapsible-header">
          <i class="material-icons">keyboard_arrow_down</i>
          {{ "COMMON.GENERAL_DATA" | translate | sentenceCase }}
        </div>
        <div class="collapsible-body">
          <span>
            <section class="aircraft-type-detail">
              <div class="row">
                <core-basic-input-text
                  [id]="'aircraft-type-code'"
                  [label]="'Código' | translate"
                  [hasErrors]="hasControlAnyError('code')"
                  formControlName="code"
                  class="col s12 l3 cmd-mb-1"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('code')">
                      <span
                        *ngIf="hasControlSpecificError('code', 'required')"
                        class="helper-text"
                        [attr.data-error]="
                          'Debe indicar un código de tipo' | translate
                        "
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'aircraft-type-iataCode'"
                  [label]="'Cód. IATA' | translate | sentenceCase"
                  [maxlength]="3"
                  formControlName="iataCode"
                  class="col s12 l3 cmd-mb-1"
                >
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'aircraft-type-icaoCode'"
                  [label]="'Cód. ICAO' | translate | sentenceCase"
                  [maxlength]="4"
                  [hasErrors]="hasControlAnyError('icaoCode')"
                  formControlName="icaoCode"
                  class="col s12 l3 cmd-mb-1"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('icaoCode')">
                      <span
                        *ngIf="hasControlSpecificError('icaoCode', 'required')"
                        class="helper-text"
                        [attr.data-error]="
                          'Debe indicar un código ICAO' | translate
                        "
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'aircraft-type-description'"
                  [label]="'descripción' | translate | sentenceCase"
                  [hasErrors]="hasControlAnyError('description')"
                  formControlName="description"
                  class="col s12 l3"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('description')">
                      <span
                        *ngIf="
                          hasControlSpecificError('description', 'required')
                        "
                        class="helper-text"
                        [attr.data-error]="
                          'Debe indicar una descripción' | translate
                        "
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>
              </div>

              <div class="row cmd-mb-0">
                <core-select
                  [items]="categories"
                  [hasErrors]="hasControlAnyError('category')"
                  [id]="'type-category'"
                  [label]="'Categoría'"
                  [searchable]="true"
                  [itemDescription]="'code'"
                  (selectedValueEvent)="obtainSubcategories($event)"
                  [placeholder]="'Selecciona una categoría' | translate"
                  [formControl]="this.typeForm.get('category')"
                  class="col s12 l3 cmd-mb-1"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('category')">
                      <span
                        *ngIf="this.typeForm.get('category').errors.required"
                        class="helper-text"
                        [attr.data-error]="
                          'Debe indicar una categoría' | translate
                        "
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-select>

                <core-select
                  [items]="subcategories"
                  [hasErrors]="isInvalid('subcategory')"
                  [id]="'type-subcategory'"
                  [placeholder]="getSubcategoriePlaceholder()"
                  [label]="'Subcategoría'"
                  [searchable]="true"
                  [itemDescription]="'code'"
                  [formControl]="getControl('subcategory')"
                  class="col s12 l3"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="isInvalid('subcategory')">
                      <span
                        *ngIf="getControl('subcategory').errors.required"
                        class="helper-text"
                        data-error="Debe indicar una subcategoría"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-select>

                <core-basic-input-text
                  class="col s12 l3 cmd-mb-1"
                  [id]="'type-range-measure-value'"
                  [label]="'Rango de vuelo'"
                  [formControl]="getControl('flightRange')"
                  [hasErrors]="isInvalid('flightRange')"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="isInvalid('flightRange')">
                      <span
                        *ngIf="getControl('flightRange').errors.required"
                        class="helper-text"
                        data-error="Debe indicar el rango de vuelo"
                      >
                      </span>
                      <span
                        *ngIf="getControl('flightRange').errors.pattern"
                        class="helper-text"
                        data-error="El rango de vuelo debe de ser numérico"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-select
                  class="col s12 l3"
                  [items]="measureList"
                  [itemDescription]="'label'" [itemValue]="'value'"
                  [hasErrors]="isInvalid('flightRangeUnit')"
                  [id]="'type-range-measure-type'"
                  [placeholder]="'Selecciona una unidad'"
                  [label]="'Unidad rango de vuelo'"
                  [searchable]="true"
                  [formControl]="getControl('flightRangeUnit')"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="isInvalid('flightRangeUnit')">
                      <span
                        *ngIf="getControl('flightRangeUnit').errors.required"
                        class="helper-text"
                        data-error="Debe indicar una unidad de medida"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-select>
              </div>

              <div class="row cmd-mb-0">
                <core-basic-input-text
                  [id]="'aircraft-type-cabinWidth'"
                  [label]="'Ancho cabina' | translate"
                  [hasErrors]="hasControlAnyError('cabinWidth')"
                  formControlName="cabinWidth"
                  class="col s12 l3 cmd-mb-1"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('cabinWidth')">
                      <span
                        *ngIf="
                          hasControlSpecificError('cabinWidth', 'required')
                        "
                        class="helper-text"
                        [attr.data-error]="'Debe indicar un ancho' | translate"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'aircraft-type-cabinHeight'"
                  [label]="'Alto cabina' | translate"
                  [hasErrors]="hasControlAnyError('cabinHeight')"
                  formControlName="cabinHeight"
                  class="col s12 l3 cmd-mb-1"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('cabinHeight')">
                      <span
                        *ngIf="
                          hasControlSpecificError('cabinHeight', 'required')
                        "
                        class="helper-text"
                        [attr.data-error]="'Debe indicar un alto' | translate"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'aircraft-type-cabinLength'"
                  [label]="'Largo cabina' | translate"
                  [hasErrors]="hasControlAnyError('cabinLength')"
                  formControlName="cabinLength"
                  class="col s12 l3 cmd-mb-1"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('cabinLength')">
                      <span
                        *ngIf="
                          hasControlSpecificError('cabinLength', 'required')
                        "
                        class="helper-text"
                        [attr.data-error]="'Debe indicar un largo' | translate"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-select
                  class="col s12 l3"
                  [items]="measureList"
                  [itemDescription]="'label'" [itemValue]="'value'"
                  [hasErrors]="isInvalid('cabinWidthUnit')"
                  [id]="'type-range-measure-type'"
                  [placeholder]="'Selecciona una unidad'"
                  [label]="'Unidad cabina'"
                  [searchable]="true"
                  [formControl]="getControl('cabinWidthUnit')"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="isInvalid('cabinWidthUnit')">
                      <span
                        *ngIf="getControl('cabinWidthUnit').errors.required"
                        class="helper-text"
                        data-error="Debe indicar una unidad de medida"
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-select>
              </div>

              <div class="row">
                <core-basic-input-text
                  [id]="'aircraft-type-manufacturer'"
                  [label]="'Fabricante' | translate"
                  [hasErrors]="hasControlAnyError('manufacturer')"
                  formControlName="manufacturer"
                  class="col s12 l3 cmd-mb-1"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('manufacturer')">
                      <span
                        *ngIf="
                          hasControlSpecificError('manufacturer', 'required')
                        "
                        class="helper-text"
                        [attr.data-error]="
                          'Debe indicar un fabricante' | translate
                        "
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>

                <core-basic-input-text
                  [id]="'aircraft-type-maxCargo'"
                  [label]="'Carga máxima' | translate"
                  [hasErrors]="hasControlAnyError('maxCargo')"
                  formControlName="maxCargo"
                  class="col s12 l3"
                >
                  <ng-container inputErrors>
                    <ng-container *ngIf="hasControlAnyError('maxCargo')">
                      <span
                        *ngIf="hasControlSpecificError('maxCargo', 'required')"
                        class="helper-text"
                        [attr.data-error]="
                          'Debe indicar una carga máxima' | translate
                        "
                      >
                      </span>
                    </ng-container>
                  </ng-container>
                </core-basic-input-text>
              </div>
            </section>
          </span>
        </div>
      </li>
    </ul>

    <ul
      *ngIf="isFleetTypeDetail"
      class="collapsible expandable cmd-mb-2"
      appMatCollapsible
    >
      <li>
        <div class="collapsible-header">
          <i class="material-icons">keyboard_arrow_down</i>
          {{ "Velocidades" | translate | sentenceCase }}
        </div>
        <div class="collapsible-body">
          <span>
            <section class="cmd-mb-1">
              <core-button-bar
                [barButtons]="typeDetailsBarButtons"
                [itemsSelectedCount]="typeSpeedSelectedCount"
                (executeAction)="onSpeedBarButtonClicked($event)"
              >
              </core-button-bar>
            </section>
            <section class="aircraft-bases-detail-table">
              <core-table
                [columnsHeader]="typeSpeedAverageColumnsHeader"
                [columnsData]="typeSpeedAverageColumnsData"
                [pagination]="typeSpeedAverageColumnsPagination"
                (selectedItem)="onSpeedAverageSelected($event)"
              ></core-table>
            </section>
          </span>
        </div>
      </li>
    </ul>

    <ul
      *ngIf="isFleetTypeDetail"
      class="collapsible expandable cmd-mb-2"
      appMatCollapsible
    >
      <li>
        <div class="collapsible-header">
          <i class="material-icons">keyboard_arrow_down </i>
          {{ "COMMON.OBSERVATIONS" | translate | sentenceCase }}
        </div>
        <div class="collapsible-body">
          <span>
            <section class="cmd-mb-1">
              <core-button-bar
                [barButtons]="typeDetailsBarButtons"
                [itemsSelectedCount]="typeObsSelectedCount"
                (executeAction)="onObsBarButtonClicked($event)"
              >
              </core-button-bar>
            </section>
            <section class="aircraft-observations-detail-table">
              <core-table
                [columnsHeader]="typeObservationsColumnsHeader"
                [columnsData]="typeObservationsColumnsData"
                [pagination]="typeObservationsColumnsPagination"
                (selectedItem)="onObservationSelected($event)"
              ></core-table>
            </section>
          </span>
        </div>
      </li>
    </ul>
  </form>
</section>

<app-speed-average-detail
  [title]="modalDetailTitle"
  [speedAverageForm]="averageSpeedForm"
  (saveSpeed)="onSaveSpeedAverage($event)"
></app-speed-average-detail>

<app-observation-detail
  [title]="modalDetailTitle"
  [observationForm]="observationForm"
  (saveObservation)="onSaveObservation($event)"
></app-observation-detail>

<core-modal>
  <ng-container content>
    <section class="modal-header">
      <h4>Confirmar eliminación</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{ 'COMMON.CANCEL' | translate | sentenceCase}}
      </a>
    </section>
    <section class="modal-body">
      <p>
        {{ deleteModalText }}
      </p>
    </section>
  </ng-container>
  <ng-container footer>
    <a
      class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100"
      (click)="deleteModalAction()"
    >
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">{{ 'COMMON.SAVE' | translate | sentenceCase}}</span>
    </a>
  </ng-container>
</core-modal>
