<core-page-bar [pageTitle]="pageTitle"></core-page-bar>
<top-bar [barButtons]="barButtons" [airportsSelectedCount]="airportsSelectedCount"
(executeAction)="onBarButtonClicked($event)" (executeChangeCheck)="checkShowDisabled($event)" (executeSearch)="onSearch($event)"></top-bar>
<section class="airports-tables-container cmd-mt-1">
  <section class="airports-table">
    <core-table [columnsHeader]="airportColumnsHeader" [columnsData]="airportsColumnsData"
      [pagination]="airportPagination" (selectedItem)="onAirportSelected($event)"
      (executeActionEmitter)="onAirportAction($event)">
    </core-table>
  </section>
</section>
<core-modal #confirmDeleteModal>
  <ng-container content>
    <section class="modal-header">
      <h4>Confirmar eliminación</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        Cancelar
      </a>
    </section>
    <section class="modal-body">
      <p>¿Está seguro que desea eliminar este registro?</p>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDeleteAirport()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">Confirmar</span>
    </a>
  </ng-container>
</core-modal>

<core-modal #confirmDisableModal>
  <ng-container content>
    <section class="modal-header">
      <h4>Deshabilitar aeropuerto</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        Cancelar
      </a>
    </section>
    <section class="modal-body">
      <p>¿Está seguro que desea deshabilitar este aeropuerto?</p>
    </section>
  </ng-container>
  <ng-container footer>
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" (click)="onConfirmDisableAirport()">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text">Confirmar</span>
    </a>
  </ng-container>
</core-modal>