@import "variables";
@import "mixins";

.mat-raised-button.mat-primary:not(:disabled) {
  background-color: $europair-color-blue-dark-1;
}

.mat-expansion-panel {
  border-radius: 0 !important;
  box-shadow: none;

  .mat-expansion-panel-header {
    border-top: 1px solid #a0b9d4;
    background-color: #cce0f2;
    border-bottom: 2px solid #a0b9d4;

    &:hover {
      background-color: #b8cfe4;
    }
  }

  &.mat-expanded {
    .mat-expansion-panel-header {
      background-color: #eef7ff;
    }
  }

  .mat-expansion-panel-header-title {
    align-items: center;
    color:$europair-color-blue-dark-1;
  }

  .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
    color: $europair-color-blue-dark-1;
    .mat-icon {
      padding-left: 8px;
      fill: none;
      stroke: $europair-color-blue-dark-1;
    }
  }
}

.mat-row {
  &:hover {
    background-color: $europair-color-blue-light-3 !important;
  }
  &:nth-child(odd) {
    background-color: $europair-color-blue-light-2;
  }
}

.mat-header-cell {
  border-bottom: 2px solid $europair-color-blue-light-3;
  line-height: normal;
  box-sizing: border-box;
}

.mat-header-cell,
.mat-footer-cell,
.element-row {
  font-weight: bold;
}

.mat-header-row,
.mat-footer-cell,
.mat-row {
  border-bottom-color: $europair-color-blue-light-3;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
  color: $europair-color-blue-dark-2;
  padding: 1rem;
  box-sizing: border-box;

  &.booked-blue {
    background-color: #5de2fc;
    border-color: #3c6696;
    &:hover {
      background-color: #5de2fc !important;
      opacity: 0.8;
    }
  }

  &.booked-green {
    background-color: #c8ffca;
    border-color: #57a359;
    &:hover {
      background-color: #c8ffca !important;
      opacity: 0.5;
    }
  }
}

.title {
  font-weight: bold;
}

.europair-sub-title {
    font-size: 15px;
    font-weight: 400;
    color: $europair-color-blue-dark-1;
    text-align: center;
    border-top: 1px solid #a0b9d4;
    background-color: #eef7ff;
    border-bottom: 1px solid #a0b9d4;
    padding: 1rem 0;
    margin: 0 1rem;
}

@include mat-table-columns(("code", "description", "status-name"));
