<div class="modal">
  <div class="modal-content">
    <section class="modal-header">
      <h4>{{ title }} {{_regionDetail?.name}}</h4>
      <a class="waves-effect btn-flat modal-close europair-button-blue-1">
        <i class="material-icons right">close</i>
        {{'REGIONS.CANCEL' | translate}}
      </a>
    </section>
    <section class="region-detail-form cmd-mr-3 cmd-mb-3 cmd-mt-3">
      <form [formGroup]="regionForm">
        <div class="row">
          <core-basic-input-text [id]="'region-code'" [label]="'REGIONS.CODE' | translate" formControlName="code"
            [hasErrors]="hasControlAnyError('code')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('code')">
                <span *ngIf="hasControlSpecificError('code', 'required')" class="helper-text"
                  attr.data-error="{{'REGIONS.ERROR.CODE' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
        <div class="row">
          <core-basic-input-text [id]="'region-name'" [label]="'REGIONS.NAME' | translate" formControlName="name"
            [hasErrors]="hasControlAnyError('name')">
            <ng-container inputErrors>
              <ng-container *ngIf="hasControlAnyError('name')">
                <span *ngIf="hasControlSpecificError('name', 'required')" class="helper-text"
                  attr.data-error="{{'REGIONS.ERROR.NAME' | translate}}">
                </span>
              </ng-container>
            </ng-container>
          </core-basic-input-text>
        </div>
      </form>
    </section>
    <ul class="collapsible expandable" appMatCollapsible>
      <li>
        <div class="collapsible-header"><i
            class="material-icons">keyboard_arrow_down</i>{{'REGIONS.COUNTRIES' | translate}}</div>
        <div class="collapsible-body">
            <section class="region-country-detail-table">
              <div class="responsive-table-container cmd-mb-3">
                <mat-table [dataSource]="dataSourceCountries">
                  <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef mat-header>
                      {{ 'REGIONS.COUNTRY_CODE' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.code }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-header>
                      {{ 'REGIONS.COUNTRY_NAME' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </mat-cell>
                  </ng-container>
                  <!-- Actions Column-->
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-header>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-icon
                        (click)="removeCountry(element)"
                        svgIcon="europair_trash"
                        [matTooltip]="'TOOLTIPS.REMOVE_COUNTRY_FROM_REGION'| translate" [matTooltipClass]="'europair-tooltip'">
                      </mat-icon>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="columnsCountriesToDisplay"></mat-header-row>
                  <mat-row *matRowDef="let element; columns: columnsCountriesToDisplay" class="element-row">
                  </mat-row>
                </mat-table>
              </div>
              <app-select [label]="'SEARCH_AIRCRAFT.AIRPORT_COUNTRY' | translate"
                [id]="'search-airport-country'" [items]="countries$ | async" [minTermLength]="1"
                [loading]="countriesLoading" class="col s12 l12 cmd-mb-1"
                [typeToSearchText]="'SEARCH_AIRCRAFT.COUNTRY_SEARCH_TEXT' | translate"
                [placeholder]="'SEARCH_AIRCRAFT.SELECT_COUNTRY' | translate"
                [hasErrors]="hasControlAnyError('countries')" [typeahead]="countriesInput$"
                [searchable]="true" [notFoundText]="'COMMON.NOT_FOUND' | translate"
                [formControl]="countriesControl">
              </app-select>
            </section>
          </div>
      </li>
      <li>
        <div class="collapsible-header"><i
            class="material-icons">keyboard_arrow_down</i>{{'REGIONS.AIRPORTS' | translate}}</div>
        <div class="collapsible-body">
          <div class="responsive-table-container cmd-mb-3">
            <mat-table [dataSource]="dataSourceAirports">
              <ng-container matColumnDef="iataCode">
                <mat-header-cell *matHeaderCellDef mat-header>
                  {{ 'REGIONS.AIRPORT_IATA' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.iataCode }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="icaoCode">
                <mat-header-cell *matHeaderCellDef mat-header>
                  {{ 'REGIONS.AIRPORT_ICAO' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.icaoCode }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-header>
                  {{ 'REGIONS.AIRPORT_NAME' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.name }}
                </mat-cell>
              </ng-container>
              <!-- Actions Column-->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef mat-header>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-icon
                    (click)="removeAirport(element)"
                    svgIcon="europair_trash"
                    [matTooltip]="'TOOLTIPS.REMOVE_AIRPORT_FROM_REGION'| translate" [matTooltipClass]="'europair-tooltip'">
                  </mat-icon>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="columnsAirportsToDisplay"></mat-header-row>
              <mat-row *matRowDef="let element; columns: columnsAirportsToDisplay" class="element-row">
              </mat-row>
            </mat-table>
          </div>
          <app-search-airports [label]="'SEARCH_AIRCRAFT.AIRPORT' | translate" [id]="'search-airport'"
            [items]="airports$ | async" [minTermLength]="1" [loading]="airportsLoading"
            class="col s12 l12 cmd-mb-1"
            [typeToSearchText]="'SEARCH_AIRCRAFT.AIRPORT_SEARCH_TEXT' | translate"
            [placeholder]="'SEARCH_AIRCRAFT.SELECT_AIRPORT' | translate"
            [hasErrors]="hasControlAnyError('airport')" [typeahead]="airportsInput$"
            [notFoundText]="'COMMON.NOT_FOUND' | translate"
            [formControl]="airportsControl">
            <ng-container inputErrors>
                <ng-container *ngIf="hasControlAnyError('airport')">
                    <span *ngIf="hasControlSpecificError('airport', 'required')" class="helper-text"
                        [attr.data-error]="'SEARCH_AIRCRAFT.ERROR.AIRPORT_REQUIRED' | translate">
                    </span>
                </ng-container>
            </ng-container>
          </app-search-airports> 
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100" *ngIf="regionForm.disabled;else saveBtn">
      <i class="material-icons">check_circle</i>
      <span class="full-width-btn-text"
        *ngIf="regionForm.disabled;else saveBtn">{{'REGIONS.CONFIRM' | translate}}</span>
    </a>
    <ng-template #saveBtn>
      <a class="btn modal-close waves-effect europair-icon-blue-1 cmd-w-100"
        [ngClass]="{'disabled': !regionForm.valid }" (click)="onSaveRegion()">
        <i class="material-icons">check_circle</i>
        <span class="full-width-btn-text">{{'REGIONS.SAVE' | translate}}</span>
      </a>
    </ng-template>
  </div>
</div>