@import "~src/variables.scss";

.core-basic-input-field.input-field{
    margin: 0;
    padding: 0;
    input[type=text]{
        border: 0;
    }
    input.valid[type=text]:not(.browser-default), input[type=text]:focus{
        box-shadow: 0 1px 0 0 $europair-color-blue-dark-2;
    }
    input[type=text]+label{
        color: $europair-color-blue-dark-2;
    }
}