<div class="row mb0">
  <form class="col s12" [formGroup]="generalDataForm">
    <div class="row">
      <div class="col s12 l3">
        <core-basic-input-text [label]="'Cód. IATA'" [id]="'iataCode'" [inputClass]="'text-uppercase'" [maxlength]="'3'"
          formControlName="iataCode" [hasErrors]="hasControlAnyError('iataCode')">
          <ng-container inputErrors>
            <ng-container *ngIf="hasControlAnyError('iataCode')">
              <span *ngIf="hasControlSpecificError('iataCode', 'required')" class="helper-text"
                data-error="Debe indicar el código IATA">
              </span>
            </ng-container>
          </ng-container>
        </core-basic-input-text>
      </div>
      <div class="col s12 l3">
        <core-basic-input-text [label]="'Cód. ICAO'" [id]="'icaoCode'" [inputClass]="'text-uppercase'" [maxlength]="'4'"
          formControlName="icaoCode" [hasErrors]="hasControlAnyError('icaoCode')">
          <ng-container inputErrors>
            <ng-container *ngIf="hasControlAnyError('icaoCode')">
              <span *ngIf="hasControlSpecificError('icaoCode', 'required')" class="helper-text"
                data-error="Debe indicar el código ICAO">
              </span>
            </ng-container>
          </ng-container>
        </core-basic-input-text>
      </div>
      <div class="col s12 l6">
        <core-basic-input-text [label]="'Nombre'" [id]="'name'" formControlName="name"
          [hasErrors]="hasControlAnyError('name')">
          <ng-container inputErrors>
            <ng-container *ngIf="hasControlAnyError('name')">
              <span *ngIf="hasControlSpecificError('name', 'required')" class="helper-text"
                data-error="Debe indicar el nombre">
              </span>
            </ng-container>
          </ng-container>
        </core-basic-input-text>
      </div>
    </div>
    <div class="row mb0">
      <div class="col s12 l9">
        <div class="row">
          <div class="col s12 l4">
            <core-select [label]="'País'" [id]="'country'" [items]="countries$ | async" [minTermLength]="2"
              [loading]="countriesLoading" [typeToSearchText]="'Escriba nombre país'"
              [placeholder]="'Selecciona un país' | translate"
              [hasErrors]="hasControlAnyError('country')" [typeahead]="countriesInput$" [searchable]="true"
              [notFoundText]="'Sin resultados'" formControlName="country">
              <ng-container inputErrors>
                <ng-container *ngIf="hasControlAnyError('country')">
                  <span *ngIf="hasControlSpecificError('country', 'required')" class="helper-text"
                    data-error="Debe indicar un país">
                  </span>
                </ng-container>
              </ng-container>
            </core-select>
          </div>
          <div class="col s12 l4">
            <core-select [label]="'Ciudad'" [id]="'city'" [items]="cities$ | async" [minTermLength]="2"
              [loading]="citiesLoading" [typeToSearchText]="'Escriba nombre ciudad'"
              [placeholder]="'Selecciona una ciudad' | translate"
              [hasErrors]="hasControlAnyError('city')" [typeahead]="citiesInput$" [searchable]="true"
              [notFoundText]="'Sin resultados'" formControlName="city">
              <ng-container inputErrors>
                <ng-container *ngIf="hasControlAnyError('city')">
                  <span *ngIf="hasControlSpecificError('city', 'required')" class="helper-text"
                    data-error="Debe indicar una ciudad">
                  </span>
                </ng-container>
              </ng-container>
            </core-select>
          </div>
          <div class="col s12 l4">
            <!-- <core-basic-input-text [label]="'Franja horaria'" [id]="'timeZone'" formControlName="timeZone">
            </core-basic-input-text> -->
            <core-select
            [items]="timeZones$ |async"
            [id]="'type-category'"
            [label]="'Franja horaria'"
            [searchable]="true"
            [placeholder]="'Selecciona una franja horaria' | translate"
            [itemValue]="'name'"
            [itemDescription]="'description'"
            formControlName="timeZone">
          </core-select>
          </div>
        </div>
        <div class="row">
          <div class="col s12 l4">
            <div class="row">
              <form formGroupName="elevation">
                <core-basic-input-text class="col s12 m6" [label]="'Elevacion'" [id]="'elevation'"
                  formControlName="value">
                </core-basic-input-text>
                <core-select class="col s12 m6" [items]="measureList" [searchable]="true" [placeholder]="'Unidad'"
                  [itemDescription]="'label'" [itemValue]="'value'" formControlName="type">
                </core-select>
              </form>
            </div>
          </div>
          <div class="col s12 l4">
            <core-basic-input-text [label]="'Latitud'" [id]="'latitude'" formControlName="latitude">
            </core-basic-input-text>
          </div>
          <div class="col s12 l4">
            <core-basic-input-text [label]="'Longitud'" [id]="'longitude'" formControlName="longitude">
            </core-basic-input-text>
          </div>
        </div>
      </div>
      <div class="col s12 l3">
        <p>
          <label>
            Tipo de normas de vuelo
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="flightRules" [value]="FLIGHT_RULES_TYPE.IFR" type="radio"
              formControlName="flightRules" />
            <span>IFR (Instrumental Flight Rules)</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="flightRules" [value]="FLIGHT_RULES_TYPE.VFR" type="radio"
              formControlName="flightRules" />
            <span>VFR (Visual Flight Rules)</span>
          </label>
        </p>
      </div>
    </div>
    <div class="row mb0">
      <div class="col s12 l3">
        <core-basic-switch [id]="'aduanas'" [firstLabel]="'Aduanas'" formControlName="simpleCustoms">
        </core-basic-switch>
      </div>
      <div class="col s12 l3">
        <core-basic-switch [id]="'condiciones-especiales'" [firstLabel]="'Condiciones especiales'"
          formControlName="specialConditions">
        </core-basic-switch>
      </div>
    </div>
  </form>
</div>