<div class="row mb0">
  <form class="col s12" [formGroup]="generalDataForm">
    <div class="row">
      <div class="col s12 l3 input-row">
        <core-basic-input-text [label]="'AIRPORTS.IATA_CODE' | translate" [id]="'iataCode'" [inputClass]="'text-uppercase'" 
          [maxlength]="'3'" formControlName="iataCode" [hasErrors]="hasControlAnyError('iataCode')">
          <ng-container inputErrors>
            <ng-container *ngIf="hasControlAnyError('iataCode')">
              <span *ngIf="hasControlSpecificError('iataCode', 'required')" class="helper-text"
                [attr.data-error]="'AIRPORTS.IATA_CODE_REQUIRED' | translate">
              </span>
            </ng-container>
          </ng-container>
        </core-basic-input-text>
      </div>
      <div class="col s12 l3 input-row">
        <core-basic-input-text [label]="'AIRPORTS.ICAO_CODE' | translate" [id]="'icaoCode'" [inputClass]="'text-uppercase'" [maxlength]="'4'"
          formControlName="icaoCode" [hasErrors]="hasControlAnyError('icaoCode')">
          <ng-container inputErrors>
            <ng-container *ngIf="hasControlAnyError('icaoCode')">
              <span *ngIf="hasControlSpecificError('icaoCode', 'required')" class="helper-text"
                [attr.data-error]="'AIRPORTS.ICAO_CODE_REQUIRED' | translate">
              </span>
            </ng-container>
          </ng-container>
        </core-basic-input-text>
      </div>
      <div class="col s12 l6">
        <core-basic-input-text [label]="'AIRPORTS.NAME' | translate" [id]="'name'" formControlName="name"
          [hasErrors]="hasControlAnyError('name')">
          <ng-container inputErrors>
            <ng-container *ngIf="hasControlAnyError('name')">
              <span *ngIf="hasControlSpecificError('name', 'required')" class="helper-text"
                [attr.data-error]="'AIRPORTS.NAME_REQUIRED' | translate">
              </span>
            </ng-container>
          </ng-container>
        </core-basic-input-text>
      </div>
    </div>
    <div class="row mb0">
      <div class="col s12 l9">
        <div class="row mb0">
          <div class="col s12 l4 input-row">
            <core-select [label]="'AIRPORTS.COUNTRY' | translate" [id]="'country'" [items]="countries$ | async" [minTermLength]="1"
              [loading]="countriesLoading" [typeToSearchText]="'AIRPORTS.COUNTRY_SEARCH_TEXT' | translate"
              [placeholder]="'AIRPORTS.SELECT_COUNTRY' | translate"
              [hasErrors]="hasControlAnyError('country')" [typeahead]="countriesInput$" [searchable]="true"
              [notFoundText]="'COMMON.NOT_FOUND' | translate" formControlName="country">
              <ng-container inputErrors>
                <ng-container *ngIf="hasControlAnyError('country')">
                  <span *ngIf="hasControlSpecificError('country', 'required')" class="helper-text"
                    [attr.data-error]="'AIRPORTS.COUNTRY_REQUIRED' | translate">
                  </span>
                </ng-container>
              </ng-container>
            </core-select>
          </div>
          <div class="col s12 l4 input-row">
            <core-select [label]="'AIRPORTS.CITY' | translate" [id]="'city'" [items]="cities$ | async" [minTermLength]="1"
              [loading]="citiesLoading" [typeToSearchText]="'AIRPORTS.CITY_SEARCH_TEXT' | translate"
              [placeholder]="'AIRPORTS.CITY' | translate"
              [hasErrors]="hasControlAnyError('city')" [typeahead]="citiesInput$" [searchable]="true"
              [notFoundText]="'COMMON.NOT_FOUND' | translate" formControlName="city">
              <ng-container inputErrors>
                <ng-container *ngIf="hasControlAnyError('city')">
                  <span *ngIf="hasControlSpecificError('city', 'required')" class="helper-text"
                  [attr.data-error]="'AIRPORTS.CITY_REQUIRED' | translate">
                  </span>
                </ng-container>
              </ng-container>
            </core-select>
          </div>
          <div class="col s12 l4 input-row">
            <core-select
            [items]="timeZones$ |async"
            [id]="'type-category'"
            [label]="'AIRPORTS.TIMEZONE' | translate"
            [searchable]="true"
            [placeholder]="'AIRPORTS.SELECT_TIMEZONE' | translate"
            [itemValue]="'name'"
            [itemDescription]="'description'"
            formControlName="timeZone">
          </core-select>
          </div>
        </div>
        <div class="row mb0">
          <div class="col s12 l4">
            <div class="row mb0">
              <form formGroupName="elevation">
                <core-basic-input-text class="col s12 m6 input-row" [label]="'AIRPORTS.ELEVATION' | translate" 
                  [id]="'elevation'" formControlName="value">
                </core-basic-input-text>
                <core-select class="col s12 m6 input-row" [items]="measureList" [placeholder]="'AIRPORTS.UNIT' | translate"
                  [searchable]="true" [itemDescription]="'label'" [itemValue]="'value'" formControlName="type">
                </core-select>
              </form>
            </div>
          </div>
          <div class="col s12 l4 input-row">
            <core-basic-input-text [label]="'AIRPORTS.LATITUDE' | translate" [id]="'latitude'" formControlName="latitude">
            </core-basic-input-text>
          </div>
          <div class="col s12 l4 input-row">
            <core-basic-input-text [label]="'AIRPORTS.LONGITUDE' | translate" [id]="'longitude'" formControlName="longitude">
            </core-basic-input-text>
          </div>
        </div>
      </div>
      <div class="col s12 l3">
        <p>
          <label>
            {{'AIRPORTS.FLIGHT_RULES_TYPE' | translate}}
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="flightRules" [value]="FLIGHT_RULES_TYPE.IFR" type="radio"
              formControlName="flightRules" />
            <span>IFR (Instrumental Flight Rules)</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="flightRules" [value]="FLIGHT_RULES_TYPE.VFR" type="radio"
              formControlName="flightRules" />
            <span>VFR (Visual Flight Rules)</span>
          </label>
        </p>
      </div>
    </div>
    <div class="row mb0">
      <div class="col s12 l3">
        <core-basic-switch [id]="'aduanas'" [firstLabel]="'AIRPORTS.CUSTOMS' | translate" formControlName="simpleCustoms">
        </core-basic-switch>
      </div>
      <div class="col s12 l4">
        <core-basic-switch [id]="'condiciones-especiales'" [firstLabel]="'Condiciones especiales'"
          formControlName="specialConditions">
        </core-basic-switch>
      </div>
    </div>
  </form>
</div>